= form_tag grade_project_path(@project), method: :patch, remote: true do
  - unless @assignment.grading_type.present?
    Are you grading
    %label
      = radio_button_tag 'grading_type', 'group'
      the whole team together
    or
    %label
      = radio_button_tag 'grading_type', 'individual'
      each student separately
  - else
    Grading:
    = @gradable.name
    = hidden_field_tag :gradable_type, @gradable.class.name
    = hidden_field_tag :gradable_id, @gradable.id
    = text_field_tag :grade
    = text_area_tag :feedback

  = submit_tag 'Go'
