= content_for :js do
  = javascript_include_tag 'https://www.google.com/jsapi'
  = render_chart(@new_projects, 'chart_new_projects')
  = render_chart(@new_users, 'chart_new_users')
  = render_chart(@new_comments, 'chart_new_comments')
  = render_chart(@new_respects, 'chart_new_respects')

.page-header
  %h1 Analytics

.row
  .col-xs-6
    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Registered users
      .panel-body
        = @user_count
        %small.text-muted +#{@new_users_count}

  .col-xs-6
    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Live projects
      .panel-body
        = @project_count
        %small.text-muted +#{@new_projects_count}

.row
  .col-xs-4
    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Comments
      .panel-body
        = @comment_count
        %small.text-muted +#{@new_comments_count}

  .col-xs-4
    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Respects
      .panel-body
        = @like_count
        %small.text-muted +#{@new_likes_count}

  .col-xs-4
    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Followers
      .panel-body
        = @follow_count
        %small.text-muted +#{@new_follows_count}

.row
  .col-xs-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Top users
      .panel-body
        %ul
          - @top_users.each do |user|
            %li
              %b= link_to user.name, user
              \:
              = user.live_projects_count

  .col-xs-4
    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Project / User ratio
      .panel-body #{(@project_count.to_f / @user_count.to_f* 100).ceil}%

    .panel.panel-default.panel-dashboard
      .panel-heading
        %h3.panel-title Users with at least one project
      .panel-body
        = @users_with_at_least_one_live_project
        %small.text-muted (#{(@users_with_at_least_one_live_project.to_f / @user_count * 100).ceil}%)

.row
  .col-xs-6
    #chart_new_projects= image_tag 'loader.gif'
  .col-xs-6
    #chart_new_users= image_tag 'loader.gif'

  .col-xs-6
    #chart_new_comments= image_tag 'loader.gif'
  .col-xs-6
    #chart_new_respects= image_tag 'loader.gif'