%h1 Logs
- model_class = LogLine.new.class

= render 'admin/shared/search_form_tag'
= render partial: 'admin/shared/search_form_select_field', locals: { field: 'source', options: LogLine.uniq(:source).pluck(:source).reject{ |c| c.nil? }.sort }
= render partial: 'admin/shared/search_form_select_field', locals: { field: 'log_type', options: LogLine.where('log_lines.log_type IS NOT NULL').uniq(:log_type).pluck(:log_type).sort }
= hidden_field_tag :page, 1
= render 'admin/shared/search_form_sort_and_submit'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:log_type)
      %th= model_class.human_attribute_name(:source)
      %th= model_class.human_attribute_name(:message)
      %th= model_class.human_attribute_name(:related_object)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @log_lines.each do |log_line|
      %tr
        %td= log_line.log_type
        %td= log_line.source
        %td= log_line.message
        %td= "#{log_line.loggable_type} #{log_line.loggable_id}"
        %td= log_line.created_at

.pagination.col-xs-12.text-center
  = will_paginate @log_lines