- widget.build_document unless widget.document
.control-group
  .controls
    %label Add the file that contains the code
= f.simple_fields_for :document do |f_document|
  - if widget.document
    .control-group.url
      .controls
        = widget.document.file_name
  = f_document.input :file, as: :file, label: false
  = f_document.input :file_cache, as: :hidden
= f.input :language, as: :select, label: 'What programming language is it written in?', collection: { 'C' => 'c', 'Python' => 'python', 'Ruby' => 'ruby' }