- widget.documents.new if widget.documents.empty?
.form-fields
  - widget.documents.each do |document|
    = f.simple_fields_for :documents, document do |f_document|
      .control-group.url
        .controls
          = document.file_name if document
      = f_document.input :file, as: :file, label: false
      = f_document.input :file_cache, as: :hidden
      .control-group
        .controls
          = f_document.link_to_remove 'Remove this document', class: 'btn btn-mini btn-danger'
  = f.link_to_add 'Add a document', :documents, class: 'btn btn-mini btn-success'

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });