- widget.documents.new
.form-fields
  %label Add your documents
  - widget.documents.each do |document|
    = f.association :documents
    = f.simple_fields_for :documents, document do |f_document|
      -  if document.persisted?
        .form-group.url
          .controls
            = document.file_name
        = f_document.input :title, label: 'Document title'
      - else
        = f_document.input :file, as: :file, label: false
        = f_document.input :file_cache, as: :hidden
        = f_document.input :title, label: 'Document title'
      = f_document.link_to_remove 'Remove this document', class: 'btn btn-xs btn-danger'
  = f.link_to_add 'Add a document', :documents, class: 'btn btn-xs btn-success', style: 'margin-bottom:10px;'
  .alert.alert-info
    %strong Heads up!
    Please limit the number of files you upload at once to 4 or 5 or you might get upload errors.

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });