= render partial: 'shared/uploader/file_association', locals: { file_type: file_type, f: f }
%label Add your #{human_file_type}s
.form-fields.form-inline.fields-condensed
  - widget.documents.each do |document|
    = f.simple_fields_for :documents, document, wrapper: false do |f_document|
      .fields.btn-delete-holder
        = f_document.input :id, as: :hidden
        .form-group.col-xs-4
          %p.form-control-static= document.file_name
        = f_document.input :title, placeholder: 'File title (defaults to file name)', label: false, wrapper_html: { class: 'col-xs-8' }
        = f_document.link_to_remove '&times;'.html_safe, class: 'btn-delete', title: 'Delete'

= render partial: 'shared/uploader/file_drop', locals: { file_type: file_type, human_file_type: human_file_type }

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });

    inputTpl = '<div class="fields btn-delete-holder">';
    inputTpl += '<div class="form-group hidden widget_documents_id"><input class="hidden" id="" name="[id]" type="hidden" value=""></div>';
    inputTpl += '<div class="form-group col-xs-4">';
    inputTpl += '<p class="form-control-static"></p>';
    inputTpl += '</div>';
    inputTpl += '<div class="form-group string optional widget_documents_title col-xs-8"><input class="string optional form-control" id="" maxlength="255" name="[title]" placeholder="Document title (defaults to file name)" size="255" type="text"></div>';
    inputTpl += '<input id="" name="[_destroy]" type="hidden" value="false"><a class="btn-delete remove_nested_fields" data-association="documents" href="javascript:void(0)" title="Delete">&times;</a>';
    inputTpl += '</div>';

    #{ render partial: 'shared/uploader/form_template', locals: { file_type: file_type } }

    #{ render partial: 'shared/uploader/file_drop_click' }

    #{ render partial: 'shared/uploader/file_upload_functions', locals: { file_type: file_type } }

    #{ render partial: 'shared/uploader/file_upload', locals: { file_type: file_type } }

    #{file_type}Functions.fileuploadDoneTypeSpecific = function(data, file){
      filename = file.url.substring(file.url.lastIndexOf('/')+1);
      input.find('p.form-control-static').text(filename);
      input.appendTo('.form-fields');
    }