- widget.images.new
.form-fields#sortable
  %label Add images
  - widget.images.each do |image|
    = f.simple_fields_for :images, image do |f_image|
      = f_image.input :position, as: :hidden, input_html: { class: 'position' }
      -  if image.file_url
        .control-group
          .controls
            = image_tag image.file_url(:thumb)
        = f_image.input :title, label: 'Image title'
        -# = f_image.input :caption
      - else
        = f_image.input :file, as: :file, label: false
        = f_image.input :file_cache, as: :hidden
        = f_image.input :title, label: 'Image title'
        -# = f_image.input :caption
      = f_image.link_to_remove 'Remove this image', class: 'btn btn-mini btn-danger'
      %span.handle{ title: 'Drag to reoder' }
        %i.fa.fa-arrows
  = f.link_to_add 'Add an image', :images, class: 'btn btn-mini btn-success', style: 'margin-bottom:10px;'
  .alert
    %strong Heads up!
    Please limit the number of files you upload at once to 4 or 5 or you might get upload errors.

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
        resetPositions();
      });
      $(document).on('nested:fieldRemoved', function(event){
        var field = event.field;
        field.addClass('deleted');
        resetPositions();
      });
    });

    $(function() {
      resetPositions();

      $('#sortable')
        .sortable({
          items: '.fields',
          cursor: 'move',
          handle: '.handle'
        })
        .bind('sortstop', function(event, ui) {
          resetPositions();
        });
    });

    function resetPositions(){
      $('#sortable .fields:not(".deleted")').each(function(i){
        $('.position', this).val(i+1);
        console.log(i);
      });
    }