- widget.new_press_article if widget.press_articles.empty?
.form-fields
  .form-group
    %label Add press articles
  = f.simple_fields_for :press_articles do |f_article|
    = f_article.input :title, label: 'Article title'
    = f_article.input :link, label: 'Article link'
    = f_article.input :publication, label: 'Publication name'
    = f_article.input :date, label: 'Publish date'
    = f_article.link_to_remove 'Remove this article', class: 'btn btn-xs btn-danger'
  = f.link_to_add 'Add an article', :press_articles, class: 'btn btn-xs btn-success', style: 'margin-bottom:10px;'

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });