= f.association :documents, collection: @widget.documents, wrapper: false, input_html: { style: 'display:none;' }, label: false
%label Add your STL files
.form-fields.form-inline.fields-condensed
  - widget.documents.each do |document|
    = f.simple_fields_for :documents, document, wrapper: false do |f_document|
      .fields.btn-delete-holder
        = f_document.input :id, as: :hidden
        .form-group.col-xs-4
          %p.form-control-static= document.file_name
        = f_document.input :title, placeholder: 'File title (defaults to file name)', label: false, wrapper_html: { class: 'col-xs-8' }
        = f_document.link_to_remove '&times;'.html_safe, class: 'btn-delete', title: 'Delete'

#file-drop
  %strong Drop new files here
  %br
  or
  %a{ data: { target: '#file_upload' } } browse your computer
  %table.table
    %tbody.uploads

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });

    $(function() {
      resetPositions();

      $('#sortable')
        .sortable({
          items: '.fields-column',
          cursor: 'move',
          handle: '.handle'
        })
        .bind('sortstop', function(event, ui) {
          resetPositions();
        });
    });

    function resetPositions(){
      $('#sortable .fields:not(".deleted")').each(function(i){
        $('.position', this).val(i+1);
      });
    }

    formTpl = "<form action='/files' method='post' enctype='multipart/form-data' id='file_upload' style='display:none;'>";
    formTpl += "<input name='utf8' type='hidden' value='✓'>";
    formTpl += "<input name='authenticity_token' type='hidden' value=''>";
    formTpl += "<input name='file_type' type='hidden' value=''>";
    formTpl += "<input type='file' name='file' multiple>";
    formTpl += "</div>";
    formTpl += "</form>";

    inputTpl = '<div class="fields btn-delete-holder">';
    inputTpl += '<div class="form-group hidden widget_documents_id"><input class="hidden" id="" name="[id]" type="hidden" value=""></div>';
    inputTpl += '<div class="form-group col-xs-4">';
    inputTpl += '<p class="form-control-static"></p>';
    inputTpl += '</div>';
    inputTpl += '<div class="form-group string optional widget_documents_title col-xs-8"><input class="string optional form-control" id="" maxlength="255" name="[title]" placeholder="Document title (defaults to file name)" size="255" type="text"></div>';
    inputTpl += '<input id="" name="[_destroy]" type="hidden" value="false"><a class="btn-delete remove_nested_fields" data-association="documents" href="javascript:void(0)" title="Delete">×</a>';
    inputTpl += '</div>';

    form = $('form.accept-file-upload');
    $($(formTpl)).insertAfter(form);
    $('#file_upload input[name="authenticity_token"]').val($('input[name="authenticity_token"]', form).val());
    $('#file_upload input[name="file_type"]').val('document');
    var iFile = 0;

    $(function(){
      $('#file-drop a').click(function(){
        $($(this).data('target')).find('input[type=file]').click();
      });

      // Initialize the jQuery File Upload plugin
      $('#file_upload').fileupload({
        dropZone: '#file-drop',
        add: function(e, data) {
          file = data.files[0];
          tpl = $('<tr id="tmp-img-' + iFile + '"><td style="width:200px;"><i>' + file.name + '</i></td><td><div class="progress progress-striped active"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div></div></td></tr>');
          tpl.appendTo($('#file-drop .uploads'));
          data.context = 'tmp-img-' + iFile;
          iFile++;

          var jqXHR = data.submit();
        },

        fail: function(e, data){
          $('#' + data.context + ' .progress').replaceWith('Error, please retry.')
        },

        progress: function(e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#' + data.context + ' .progress-bar').css('width', progress + '%');
        },

        done: function(e, data){
          $('#' + data.context + ' .progress.active')
            .removeClass('progress-striped')
            .removeClass('active');
          $('#' + data.context + ' .progress-bar').addClass('progress-bar-success');
          $('#' + data.context).remove();
          file = data.result.file;

          input = $(inputTpl);
          random = new Date().getTime();
          $('input', input).each(function(i, el){
            name = 'widget[documents_attributes][' + random + ']' + $(el).attr('name');
            $(el).attr('name', name);
          });
          id = data.result.id;
          input.find('.widget_documents_id input').val(id);
          filename = file.url.substring(file.url.lastIndexOf('/')+1);
          input.find('p.form-control-static').text(filename);
          input.appendTo('.form-fields');

          $('<option selected="selected" value="' + id + '"></option>').appendTo('#widget_document_ids');
        }
      });
    });