- if user_signed_in? and member = current_user.is_member?(@promotion) and member.invitation_pending?
  .row
    .col-xs-12
      .alert.alert-warning
        You have been invited to join
        %strong #{@promotion.course.name} #{@promotion.name}.
        = link_to 'Join promotion', group_accept_invitation_path(@promotion), class: 'btn btn-warning btn-sm'

.row
  .col-xs-12.teaser
    .text-holder
      - if @promotion.avatar
        %span.avatar.main-avatar= image_tag @promotion.avatar(:big), alt: @promotion.name, class: 'img-circle'
      %h1
        - if @promotion.private?
          %small
            %i.fa.fa-lock.istooltip{ title: 'Private group', data: { container: 'body' } }
        = link_to @promotion.course.name, course_path(@promotion.course)
        >
        = link_to @promotion.name, promotion_path(@promotion)

      %p.user-mini-resume
        %strong
          Assignment:
          = @assignment.name

      - if @promotion.mini_resume.present?
        %p.user-mini-resume= @promotion.mini_resume

      %p.user-categories
        - if @promotion.location
          %span.category.first
            %i.fa.fa-map-marker
              = @promotion.location

      - if @promotion.websites.any?
        %ul.websites.list-inline
          - @promotion.websites.select{|t,u| u.present? }.each do |type, url|
            %li= render partial: "shared/website", locals: { type: type, url: url }

.row
  .col-xs-12
    .tabbable.tabs-left.navbar.navbar-default.navbar-tabs{ style: 'background: #fff;' }
      %ul.nav.navbar-nav
        %li.active= link_to "Projects", '#tab-projects', data: { toggle: 'tab' }

        - if can? :manage, @assignment
          %li.dropdown
            %a.dropdown-toggle.action{ data: { toggle: 'dropdown' }, href: '#', title: 'Settings', rel: 'tooltip' }
              %i.fa.fa-cog
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Edit assignment', edit_assignment_path(@assignment), data: { remote: true }