.span3.offset4.wellified
  %h2{ style: 'text-align:center;' } Create your Hackster.io account
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    = f.input :user_name, label: false, placeholder: 'Username', autofocus: true
    = f.input :email, label: false, placeholder: 'Email'
    = f.input :email_confirmation, label: false, placeholder: 'Confirm email'
    = f.input :password, label: false, placeholder: 'Password'
    = f.button :submit, "Sign up", class: 'btn btn-block'

  %p
    Already have an account?
    = link_to 'Sign in.', new_user_session_path
  %p
    Need an invite?
    = link_to 'Request one.', root_url(subdomain: 'www'), onclick: "_gaq.push(['_trackEvent', 'Sign up form', 'Request an invite', '#{request.path}']);"