.col-xs-4.col-xs-offset-4
  .wellified
    %h2{ style: 'text-align:center;' } Create your Hackster.io account

    %p
      Already have an account?
      = link_to 'Sign in.', new_user_session_path

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification

      = f.input :user_name, label: false, placeholder: 'Username', autofocus: params[:invitation_code].present?
      = f.input :email, label: false, placeholder: 'Email'
      = f.input :email_confirmation, label: false, placeholder: 'Confirm email'
      = f.input :password, label: false, placeholder: 'Password'
      = f.button :submit, "Sign up", class: 'btn btn-primary btn-block'

    %hr

    %p.text-center Or connect with your social account:
    = render 'devise/shared/omniauth'

.col-xs-3.pull-right
  %h4 Why sign up?
  %ul
    %li Create your maker profile
    %li Showcase and share your work with the maker community
    %li Ask questions and give feedback by commenting on projects
    %li Save projects to your profile and show your appreciation by respecting them