%div{ style: 'text-align:center;' }
  %h2 Create your Hacker.io account
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    = f.input :name, autofocus: true, label: false, placeholder: 'Full name'
    = f.input :user_name, label: false, placeholder: 'Username'
    = f.input :email, label: false, placeholder: 'Email'
    = f.input :email_confirmation, label: false, placeholder: 'Confirm email'
    = f.input :password, label: false, placeholder: 'Password'
    = f.button :submit, "Sign up"

  %p
    Already have an account?
    = link_to 'Sign in.', new_user_session_path