.row
  .span3
    .well
      .header
        %h3 Filters
      .content
        %form{ action: '/search', method: :get, id: 'full-search-form' }
          .control-group
            .controls
              %label
                %strong Keywords
              = text_field_tag :query, params[:query], class: 'input-medium', placeholder: 'Search'
          .control-group
            .controls
              %label
                %strong Result types
              %label.checkbox
                = check_box_tag 'model[user]', 1, (params[:model] and params[:model][:user])
                People
              %label.checkbox
                = check_box_tag 'model[project]', 1, (params[:model] and params[:model][:project])
                Projects
          -# .control-group
            .controls
              %label
                %strong Tags
              - ProductTag.limit(10).pluck(:name).uniq.each do |tag|
                %label.checkbox
                  = check_box_tag "product_tag[#{tag}]", 1, (params[:product_tag] and params[:product_tag][tag.to_sym])
                  = tag
              %label
                %strong Technology
              - TechTag.limit(10).pluck(:name).uniq.each do |tag|
                %label.checkbox
                  = check_box_tag "tech_tag[#{tag}]", 1, (params[:tech_tag] and params[:tech_tag][tag.to_sym])
                  = tag
          = submit_tag 'Update results', class: 'btn btn-mini'
  .span9
    .well
      - if @results.any?
        .header
          %h5= pluralize @results.count, 'result'
        .content.search-results
          %ul
            - @results.each_with_index do |result, i|
              %li{ class: "#{'last' if i == @results.size - 1}" }
                - model = result.class.name.underscore
                = render partial: model, locals: { :"#{model}" => result.decorate }
      - else
        .content.search-results
          No results.