= content_for :head do
  %meta(name='keywords' content="#{@tag}")

.content.projects
  .row
    .col-xs-12
      %h1{ style: 'margin-bottom: 30px; '}
        Projects in
        %span.label.label-primary #{@tag}
        - if params[:page]
          %small page #{params[:page]}
        .pull-right
          = link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Add a project to #{@tag}".html_safe, new_project_path(project: { product_tags_string: @tag.capitalize}), class: 'btn btn-warning btn-sm'

  - if params[:q].present?
    - if @results.any?
      .row
        - @results.each do |project|
          = render partial: "projects/project_thumb", locals: { project: project.decorate, ref: 'tags' }
      .row
        .col-xs-12.text-center= will_paginate @results
    - else
      .row
        .col-xs-12.text-center
          .wellified
            No projects match this tag. Use the search box above to modify your query.