- highlight = defined?(highlight) ? highlight : nil

.login-forms
  .col-xs-12
    .alert.alert-info.text-center= SLOGAN

  .col-xs-4
    .wellified{ class: "#{'wellified-transparent' unless highlight == 'login'}" }
      %h3.text-center
        Log in
        %br
        %small with your existing account:
      = render partial: 'devise/sessions/form', locals: { autofocus: (highlight == 'login') }

  .col-xs-4
    .wellified{ class: "#{'wellified-transparent' unless highlight == 'signup'}" }
      %h3.text-center
        Sign up
        %br
        %small for a new account:
      = render partial: 'devise/registrations/form', locals: { autofocus: (highlight == 'signup') }

  .col-xs-4
    .wellified{ class: "#{'wellified-transparent' unless highlight == 'connect'}" }
      %h3.text-center
        Connect
        %br
        %small with your social account:
      = render partial: 'devise/shared/omniauth', locals: { autofocus: (highlight == 'connect') }

= content_for :js do
  :javascript
    $('form').submit(function(){
      $(this).find('input[name="commit"]').prop('disabled', 'disabled');
    });