.row
  .span8
    = render partial: 'issues/issue', locals: { threadable: @threadable, issue: @thread_post }

    .well
      .header
        %h3 Discuss
      .content
        - if @thread_post.comments.any?
          - @thread_post.comments.each do |comment|
            = render partial: 'comments/comment', locals: { comment: comment }
        - else
          There are no comments.

        = render partial: 'comments/form', locals: { comment: Comment.new, commentable: @thread_post }

  .span4
    .well
      .header
        %h4 How to solve this issue
      .content
        %p= link_to 'Invite people to participate', project_participant_invites_path(@project), class: 'btn btn-small btn-info'
        %p= link_to 'Make this issue public', '', class: 'btn btn-small btn-info'