= simple_form_for @publication, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :abstract, input_html: { rows: 5 }
    = f.input :coauthors
    = f.input :published_on, order: [:year, :month],
      start_year: Date.today.year,
      end_year: Date.today.year - 50
    = f.input :journal
    = f.input :link

  .form-actions
    = f.button :submit