#sidebar-container.affixable
  #sidebar-container-in
    - if @contest.tech
      - @tech = @contest.tech.decorate
      - if @tech.avatar
        .avatar#tech-avatar-image-div
          #tech-avatar-image{:style=>"background-image:url('#{@tech.avatar(:big)}');"}
    #tech-body
      %p
        - if @contest.teaser.present?
          = @contest.teaser
      = link_to 'Read challenge rules', contest_rules_path(@contest), class: 'btn btn-primary btn-sm btn-block'

    .display
      %h4 Enter and win:
      %ol
        - @contest.prizes.each do |prize|
          %li= prize.name

    #tech-body
      #tech-follow-div.text-center
        %p#status
          Expires in:
          %strong= @contest.time_left
        - if @contest.open_for_submissions?
          - if user_signed_in? and current_user.is_contest_entrant? @contest
            %p
              %strong Your entry has been registered!
            - if @contest.allow_multiple_entries?
              -# %small Multiple entries are allowed.
              = link_to 'Enter an additional project', '', class: 'follow-button btn btn-info btn-block btn-ellipsis btn-standout', id: 'enter-contest'
          - else
            = link_to 'Enter contest', '', class: 'follow-button btn btn-info btn-block btn-ellipsis btn-standout', id: 'enter-contest'
        - else
          Submissions are closed.

    .display
      %h4 Navigation
      %ul#tech-links
        %li= link_to 'Challenge Home', contest_path(@contest, anchor: 'top-project-section'), class: 'smooth-scroll'
        %li= link_to 'Projects', contest_path(@contest, anchor: 'projects-list'), class: 'smooth-scroll'
        %li= link_to 'Rules', contest_rules_path(@contest)
        - if can? :manage, @contest
          %li= link_to "#{content_tag(:i, '', class: 'fa fa-cog')} Manage challenge".html_safe, edit_contest_path(@contest)