.image-widget
  .scroll.scroll-left{ data: { direction: 'left' }}
    .inner-scroll
      %i.fa.fa-arrow-left
  .scroller
    .headline-image
      - widget.images.each_with_index do |image, i|
        .headline-image-inner
          %a{ href: "javascript:openLightBox(#{widget.id},#{i});" }
            = image_tag image.file_url(:headline), class: "image-#{i} img-responsive"
            - if image.title.present?
              .caption-holder
                = image.title
  .scroll.scroll-right{ data: { direction: 'right' }}
    .inner-scroll
      %i.fa.fa-arrow-right

= content_for :js do
  :javascript
    if (typeof(lightBoxImages) == 'undefined') {
      lightBoxImages = {};
    }
    lightBoxImages[#{widget.id}] = [#{lightbox_elements widget.images}];

    function openLightBox(id, start) {
      start = start || 0;
      $.iLightBox(
        lightBoxImages[id],
        {
          skin: 'metro-black',
          startFrom: start,
          path: 'horizontal'
        });
     }