.image-widget
  .headline-image
    - widget.images.each_with_index do |image, i|
      .headline-image-inner
        %a{ href: "javascript:openLightBox(#{widget.id},#{i});" }
          %i.fa.fa-fullscreen
          = image_tag image.file_url(:headline_orig), class: "image-#{i} img-responsive", style: "#{'display:none;' unless i==0}"
  - if widget.images.size > 1
    %ul.image-thumbs.list-unstyled
      - widget.images.each_with_index do |image, i|
        %li
          %a{ href: "javascript:openLightBox(#{widget.id},#{i});" }
            = image_tag image.file_url(:small_thumb), data: { target: "image-#{i}" }
          -# if image.title.present?
            .overlay-title= image.title

= content_for :js do
  :javascript
    if (typeof(lightBoxImages) == 'undefined') {
      lightBoxImages = {};
    }
    lightBoxImages[#{widget.id}] = [#{lightbox_elements widget.images}];

    function openLightBox(id, start) {
      start = start || 0;
      $.iLightBox(
        lightBoxImages[id],
        {
          skin: 'metro-black',
          startFrom: start
        });
     }