:javascript
  if (typeof(lightBoxImages) == 'undefined') {
    lightBoxImages = {};
  }
  lightBoxImages[#{widget.id}] = [#{lightbox_elements widget.images}];

  function openLightBox(id, start) {
    start = start || 0;
    $.iLightBox(
      lightBoxImages[id],
      {
        skin: 'metro-black',
        startFrom: start,
        path: 'horizontal'
      });
   }

- size = widget.images.size
.image-widget.unselectable
  .headline-image
    - widget.images.each_with_index do |image, i|
      .headline-image-inner{ class: "image-#{i} #{'first' if i == 0}", style: "#{'display:none;' unless i==0}" }
        - if size > 1 and i > 0
          .nav.nav-left{ data: { next: "image-#{i-1}" }}
            .inner-nav
              %i.fa.fa-arrow-left
        %a{ href: "javascript:openLightBox(#{widget.id},#{i});" }
          = image_tag image.file_url(:headline), class: "image-#{i} img-responsive"
          - if image.title.present?
            .caption-holder
              = image.title
        - if size > 1 and i+1 < size
          .nav.nav-right{ data: { next: "image-#{i+1}" }}
            .inner-nav
              %i.fa.fa-arrow-right
  - if size > 1
    .scroller
      .thumb-image
        - widget.images.each_with_index do |image, i|
          .thumb-image-inner{ class: "#{'first' if i == 0}"}
            %a{ href: "javascript:openLightBox(#{widget.id},#{i});" }
              = image_tag image.file_url(:thumb), class: "image-#{i} img-responsive #{'current' if i==0}", data: { target: "image-#{i}" }

