.oshpark-widget
  - if widget.project_id.present?
    .pull-left
      = link_to image_tag(widget.top_image_thumb), "javascript:openLightBox(#{widget.id},0);"
      = link_to image_tag(widget.bottom_image_thumb), "javascript:openLightBox(#{widget.id},1);"
    %ul.list-unstyled.pull-right
      %li= link_to 'Order PCB', widget.order_link, target: '_blank', class: 'btn btn-default btn-sm', rel: 'nofollow'
      %li= link_to 'Download BRD file', widget.download_link, class: 'btn btn-default btn-sm', rel: 'nofollow'
      %li= link_to 'View project on OSH Park', widget.link, target: '_blank', class: 'btn btn-default btn-sm', rel: 'nofollow'

      %li.credits
        Via
        = link_to 'OSH Park', 'http://www.oshpark.com', target: '_blank', rel: 'nofollow'

    .clearfix

:javascript
  if (typeof(lightBoxImages) == 'undefined') {
    lightBoxImages = {};
  }
  lightBoxImages[#{widget.id}] = [#{lightbox_elements_for_urls [widget.top_image, widget.bottom_image]}];

  function openLightBox(id, start) {
    start = start || 0;
    $.iLightBox(
      lightBoxImages[id],
      {
        skin: 'metro-black',
        startFrom: start
      });
   }