- if widget.parts.any?
  %table#sortable.table.table-condensed
    %thead
      %th Part Name
      %th Vendor info
      %th Unit price
      %th Qtty
      %th Total cost
    %tbody
      - widget.parts.each do |part|
        %tr.fields
          %td= part.name
          %td= link_to "#{part.vendor_sku} @ #{part.vendor_name}", part.vendor_link, target: '_blank'
          %td.currency= number_to_currency part.unit_price
          %td= part.quantity
          %td.currency= number_to_currency part.total_cost
    %tfoot
      %tr
        %td{ colspan: 4, style: 'text-align: right' } Total cost
        %td.currency= number_to_currency widget.total_cost
- else
  %p No parts yet.