- video = widget.video
- width = 420
.video-widget
  - if video
    .video.widescreen
      - if video.provider == 'youtube'
        <iframe width="100%" height="100%" src="//www.youtube.com/embed/#{video.id_for_provider}?rel=0" frameborder="0" allowfullscreen></iframe>
      - elsif video.provider == 'vimeo'
        <iframe src="//player.vimeo.com/video/#{video.id_for_provider}" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      - elsif video.provider == 'instagram'
        <iframe src="//instagram.com/p/#{video.id_for_provider}/embed/" width="100%" height="100%" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      - elsif video.provider == 'vine'
        <iframe class="vine-embed" src="//vine.co/v/#{video.id_for_provider}/embed/simple" width="100%" height="100%" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
      - elsif video.provider == 'ustream'
        <iframe width="100%" height="100%" src="//www.ustream.tv/embed/#{video.id_for_provider}?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>

  - if widget.caption
    %p.caption= widget.caption.html_safe