= simple_form_for [@project, @thread_post], html: { class: 'form-horizontal full-size' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    .form-group
      .controls
        = render 'shared/wysihtml5_toolbar'
    = f.input :body, input_html: { id: 'wysihtml5-textarea', rows: 10 }
    = f.input :private, inline_label: 'Make it private', label: false

  .form-actions
    = f.button :submit
    = link_to 'Cancel', project_blog_posts_path(@project), class: 'btn btn-link'
