.row
  .col-xs-8
    .well
      .content
        This is where the team posts updates about the project.
  .col-xs-4
    - if can? :create, BlogPost, @project
      .well
        .content
          = link_to 'Publish a new blog post', new_project_blog_post_path, class: 'btn btn-info btn-xs'

- if @thread_posts.any?
  - @thread_posts.each do |blog_post|
    .row
      .col-xs-8
        = render partial: 'blog_posts/blog_post', locals: { project: @project, blog_post: blog_post }
      .col-xs-4
        .well
          .content
            - user = blog_post.user.decorate
            = image_tag user.avatar
            = link_to user.name, user
            %p= l blog_post.created_at, format: :long
            %p.text-muted #{blog_post.comments.size} comments
- else
  .row
    .col-xs-8
      .well
        .content
          There are no blog posts.

  .col-xs-4