var <%= file_type %>Functions = {
  fail: function(data) {
    console.log('fail!');
  },

  fileuploadDone: function(data, file){
    $('.progress.active', data.context)
      .removeClass('progress-striped')
      .removeClass('active');
    $('.progress-bar', data.context).addClass('progress-bar-success');
    $(data.context).remove();
    id = file.id;
    //file = file.file || data.result.file;

    if ($('.<%= file_type %>.image-preview').length > 0) {
      inputTpl = '<span class="inserted"><img>';
      inputTpl += '<input type="hidden" name="<%= model %>[<%= attribute_type %>_id]" class="inserted"></span>';
      input = $(inputTpl);
      input.find('input').val(id);

      var reader = new FileReader();
      reader.onload = function(e) {
        el = $('#' + data.context);
        input.find('img').attr('src', e.target.result);
      }
      reader.readAsDataURL(data.files[0]);
      $('.<%= file_type %>.image-preview').html(input).trigger('change');
    } else {
      inputTpl = '<span class="inserted"><span class="filename"></span>';
      inputTpl += '<input type="hidden" name="<%= model %>[<%= attribute_type %>_id]" class="inserted"></span>';
      input = $(inputTpl);
      input.find('input').val(id);
      filename = file.url.substring(file.url.lastIndexOf('/')+1);
      input.find('.filename').text(filename);
      $('.<%= file_type %>.file-preview').html(input);
    }
    $('form.file_upload.<%= file_type %>').removeClass('busy');
  },

  fileuploadTargetForProgress: function(data){
    return $('#' + data.context + ' .progress-bar');
  },

  fileuploadTargetForFail: function(data){
    return $('#' + data.context + ' .progress');
  },

  fileuploadAdd: function(data, file){
    tpl = $('<div id="<%= file_type %>-upload"><i>Uploading ' + file.name + '</i><div class="progress progress-striped active"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">Uploading...</div></div></div>');
    $('.<%= file_type %>.preview').html(tpl);
    data.context = '<%= file_type %>-upload';
    <%= file_type %>Functions.disableForm();
    return data;
  },

  checkFileProcessed: function(fileId, context){
    formData = $('#' + context).data('data');

    window.setTimeout(function() {
      $.ajax({
        url: '/files/' + fileId,
        type: 'GET',
        dataType: 'json',
        data: { context: context },
        async: false,
        success: function(data) {
          processed = data.processed;
          if (!processed) {
            <%= file_type %>Functions.checkFileProcessed(data.id, data.context);
          } else {
            formData = $('#' + data.context).data('data');
            <%= file_type %>Functions.fileuploadDone(formData, data);
          }
        }
      });
    }, 1000);
  },

  disableForm: function(){
    $('form.file_upload.<%= file_type %>').addClass('busy');
    btn = $('form.accept-file-upload input[name="commit"]');
    if (btnVal == null) btnVal = btn.val();
    btn
      .prop('disabled', true)
      .val('Upload in progress...');
    if (!checkingFormsBusy) {
      checkingFormsBusy = true;
      checkFormsBusy();
    }
  },
}

$(function(){
  var iFile = iFile || 0;

  $('body').on('submit', '.remote_file_upload.<%= file_type %>', function(e) {
    e.preventDefault();
    var id = '#' + $(this).attr('id');
    closeModal(id);

    var input = $(this).find('input[name="file_url"]');
    var fileUrl = input.val();
    var fileName = fileUrl.substring(fileUrl.lastIndexOf('/')+1);
    input.val('');

    if (fileUrl != '') {
      $.ajax({
        url: '/files/remote_upload',
        type: 'POST',
        data: {
          file_type: "<%= file_type %>",
          file_url: fileUrl
        },
        success: function(data){
          iFile++;

          var tpl = $('<div id="<%= file_type %>-upload"><i>Grabbing "' + fileName + '" from its current location...</i><div class="progress progress-striped active"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">Loading...</div></div></div>');
          $('.<%= file_type %>.preview').html(tpl);

          <%= file_type %>Functions.checkRemoteFileProcessed(data.job_id, tpl, fileUrl, data.id);
        },
        error: function(data) {
          $('.<%= file_type %>.preview').html('<div class="help-block has-error">Error processing ' + fileName + '. Please try again.</span>');
        }
      });
    }
  });
});

<%= file_type %>Functions.checkRemoteFileProcessed = function(jobId, el, fileUrl, id) {
  window.setTimeout(function(){
    $.ajax({
      url: '/files/remote_upload',
      data: { job_id: jobId },
      success: function(data){
        switch (data.status){
          case 'complete':
            // if ($('.<%= file_type %>.image-preview').length > 0) {
              inputTpl = '<span><img>';
              inputTpl += '<input type="hidden" name="<%= model %>[<%= attribute_type %>_id]"></span>';
              input = $(inputTpl);
              input.find('input').val(id);
              input.find('img').attr('src', fileUrl);
              $('.<%= file_type %>.image-preview').html(input);
            // }

            break;
          case 'failed':
            el.replaceWith('<div class="help-block has-error">Error processing the file. Please try again.</span>');
            break;
          default:
            <%= file_type %>Functions.checkRemoteFileProcessed(jobId, el, fileUrl, id);
            break;
        }
      }
    });
  }, 100);
}

var checkingFormsBusy = false;
var btnVal = null;
function checkFormsBusy(){
  window.setTimeout(function(){
    if ($('form.file_upload.busy').length == 0) {
      $('form.accept-file-upload input[name="commit"]')
        .val(btnVal)
        .prop('disabled', false);
      btnVal = null;
      checkingFormsBusy = false;
    } else {
      checkFormsBusy();
    }
  }, 100);
}