var iFile = 0;

var <%= file_type %>Functions = {
  fileuploadDone: function(data, file){
    $('#' + data.context + ' .progress.active')
      .removeClass('progress-striped')
      .removeClass('active');
    $('#' + data.context + ' .progress-bar').addClass('progress-bar-success');
    $('#' + data.context).remove();
    id = file.id;
    file = file.file || data.result.file;

    input = $(inputTpl);
    random = new Date().getTime();
    $('input', input).each(function(i, el){
      name = 'widget[<%= file_type %>s_attributes][' + random + ']' + $(el).attr('name');
      $(el).attr('name', name);
    });

    input.find('.widget_<%= file_type %>s_id input').val(id);
    <%= file_type %>Functions.fileuploadDoneTypeSpecific(data, file);

    $('<option selected="selected" value="' + id + '"></option>').appendTo('#widget_<%= file_type %>_ids');
  },

  fileuploadTargetForProgress: function(data){
    return $('#' + data.context + ' .progress-bar');
  },

  fileuploadTargetForFail: function(data){
    return $('#' + data.context + ' .progress');
  },

  fileuploadAdd: function(data, file){
    tpl = $('<tr id="tmp-img-' + iFile + '"><td style="width:200px;"><i>' + file.name + '</i></td><td><div class="progress progress-striped active"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">Uploading...</div></div></td></tr>');
    tpl.appendTo($('.file-drop.<%= file_type %> .uploads'));
    data.context = 'tmp-img-' + iFile;
    iFile++;
    return data;
  },

  checkFileProcessed: function(fileId, context){
    formData = $('#' + context).data('data');

    window.setTimeout(function() {
      $.ajax({
        url: Utils.getApiPath() + '/private/files/' + fileId,
        type: 'GET',
        dataType: 'json',
        data: { context: context },
        xhrFields: {
          withCredentials: true
        },
        success: function(data) {
          processed = data.processed;
          if (!processed) {
            <%= file_type %>Functions.checkFileProcessed(data.id, data.context);
          } else {
            formData = $('#' + data.context).data('data');
            <%= file_type %>Functions.fileuploadDone(formData, data);
          }
        },
        error: function(data) {
          context = decodeURIComponent($.urlParam(this.url, 'context'));
          <%= file_type %>Functions.fail($('#' + context).data('data'));
        }
      });
    }, 1000);
  },

  fail: function(data) {
    target = <%= file_type %>Functions.fileuploadTargetForFail(data);
    target.replaceWith('<div class="help-block">Error, please retry. If the problem persists please email <a href="mailto:help@hackster.io?subject=My file won\'t upload&body=Debug info:%0D%0Atype: ' + data.files[0].type + '%0D%0Asize: ' + data.files[0].size + '%0D%0Abitrate: ' + data.bitrate + '">help@hackster.io</a></div>');
  }
}