= simple_form_for [@project, @team_member] do |f|
  = f.association :user
  = f.input :role
  = f.submit 'Add team member', class: 'btn btn-primary'
  = link_to 'Cancel', @project, class: 'btn btn-link btn-small'