= simple_nested_form_for @project, html: { class: 'form-horizontal full-size' } do |f|
  = f.simple_fields_for :team_members do |f_member|
    = f_member.association :user
    = f_member.input :role
    .control-group
      .controls
        = f_member.link_to_remove 'Remove team member', class: 'btn btn-mini btn-danger'
  = f.link_to_add 'Add a team member', :team_members, class: 'btn btn-mini btn-success'
  .form-actions
    = f.submit 'Save team members', class: 'btn btn-primary'
    = link_to 'Cancel', @project, class: 'btn btn-link btn-small'