= simple_nested_form_for @user, url: profile_path, html: { class: 'form-horizontal remote', data: { remote: true } } do |f|
  = f.error_notification

  .row
    .span12
      %h3
        Edit profile
        .pull-right
          = f.submit 'Update profile', class: 'btn btn-primary btn-small'
          = link_to 'Cancel', '', class: 'btn-cancel btn-link btn-small', data: { show: '.user .display', hide: '.user .edit' }
      %hr

  .row
    .span6
      = f.input :full_name
      = f.input :user_name
      = f.input :email
      = f.input :mini_resume, as: :text, input_html: { rows: 4 },
        hint: 'Maximum 140 characters'

      .control-group
        .controls= image_tag(@user.avatar.file_url(:thumb)) if @user.avatar.try(:file_url)
      = f.simple_fields_for :avatar do |f_avatar|
        = f_avatar.input :file, as: :file, label: 'Profile picture'
        = f_avatar.input :file_cache, as: :hidden

      = f.input :city
      = f.input :country

    .span6
      -# = f.input :categories, as: :check_boxes, collection: User::CATEGORIES.sort
      = f.input :facebook_link
      = f.input :twitter_link
      = f.input :linked_in_link
      = f.input :github_link
      = f.input :website_link
      = f.input :blog_link

      = f.input :interest_tags_string, label: 'Interests', hint: 'Enter a list of tags separated by commas'
      = f.input :skill_tags_string, label: 'Skills'

