= simple_nested_form_for @user, url: profile_path, html: { class: 'form-horizontal remote accept-file-upload', data: { remote: true } }, wrapper: :bootstrap3_horizontal do |f|
  = f.error_notification

  .row
    .col-xs-12
      %h3
        Edit profile
        .pull-right
          = f.submit 'Update profile', class: 'btn btn-primary btn-sm'
          = link_to 'Cancel', '', class: 'btn-cancel btn-link btn-sm', data: { show: '.user .display', hide: '.user .edit' }
      %hr

  .row
    .col-xs-6
      = f.input :full_name
      = f.input :user_name
      = f.input :email
      = f.input :mini_resume, as: :text, input_html: { rows: 4 },
        hint: 'Maximum 140 characters'

      = render partial: 'shared/image_form', locals: { file_type: 'avatar', human_file_type: 'Profile picture', image_link: @user.avatar.try(:file_url, :thumb), help_block: '', attribute_type: 'avatar', image_version: 'thumb', model: 'user' }

      = f.input :city
      = f.input :country, as: :select

    .col-xs-6
      -# = f.input :categories, as: :check_boxes, collection: User::CATEGORIES.sort
      = f.input :facebook_link, label: 'Facebook link'
      = f.input :github_link, label: 'Github link'
      = f.input :google_plus_link, label: 'Google+ link'
      = f.input :linked_in_link, label: 'LinkedIn link'
      = f.input :twitter_link, label: 'Twitter link'
      = f.input :youtube_link, label: 'Youtube link'
      = f.input :website_link, label: 'Website link'
      = f.input :blog_link, label: 'Blog link'

      = f.input :interest_tags_string, label: 'Interests', hint: 'Enter a list of tags separated by commas'
      = f.input :skill_tags_string, label: 'Skills'

%hr