.row
  .span12.teaser
    .pull-left.avatar.main-avatar= image_tag @user.avatar(:medium), alt: @user.name
    .pull-left
      %h1= @user.name
      %p= @user.mini_resume
      %p.muted
        - (@user.interest_tags.pluck(:name) + @user.skill_tags.pluck(:name)).each do |tag|
          = link_to tag, "/search?query=#{CGI::escape(tag)}"
      - if @user.websites.any?
        %ul.websites
          - @user.websites.each do |type, url|
            %li= render partial: 'website', locals: { type: type, url: url }

    - if can? :edit, @user
      = link_to 'Edit', profile_edit_path, class: 'btn-edit', data: { remote: true }
    - if current_user.id != @user.id
      - if current_user.try(:is_following?, @user)
        = link_to 'Following', user_followers_path(@user), method: :delete, class: 'btn-inverse btn-follow'
      - else
        = link_to 'Follow', user_followers_path(@user), method: :post, class: 'btn-follow'