- if url
  - case type
  - when :facebook_link
    = link_to content_tag(:i, '', class: 'fa fa-facebook-square'), url
  - when :linked_in_link
    = link_to content_tag(:i, '', class: 'fa fa-linkedin-square'), url
  - when :twitter_link
    = link_to content_tag(:i, '', class: 'fa fa-twitter-square'), url
  - when :website_link
    = link_to content_tag(:i, '', class: 'fa fa-link'), url
  - when :blog_link
    = link_to content_tag(:i, '', class: 'fa fa-rss'), url
  - when :github_link
    = link_to content_tag(:i, '', class: 'fa fa-github-square'), url
