%h1 Welcome to Halckemy!
%p Before you can start using the site, we need to know a couple of things about you...

= simple_nested_form_for @user, url: profile_path, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  = f.input :first_name
  = f.input :last_name
  = f.input :user_name
  = f.input :bio
  = f.input :status

  = image_tag(@user.avatar.file_url(:thumb)) if @user.avatar.try(:file_url)
  = f.simple_fields_for :avatar do |f_avatar|
    = f_avatar.input :file, as: :file, label: 'Avatar'
    = f_avatar.input :file_cache, as: :hidden

  = f.input :city
  = f.input :country
  .form-actions
    = f.submit class: 'btn'