= content_for :no_container do
  #heading.user
    .container
      .display= render 'teaser'
      .edit{ style: 'display:none;' }

  #content
    .container
      .row.tab-content
        #tab-public.tab-pane.active.fade.in
          .col-xs-9
            - if @public_projects.any?
              - style = cookies['thumb-list-style'] || 'thumb-list-vertical'
              .row
                .col-xs-12
                  .btn-group.thumb-list-switch.pull-right
                    %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-vertical'}", data: { 'list-style' => 'vertical', container: 'body' }, title: 'Display as tiles' }
                      %i.fa.fa-th-large
                    %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-horizontal'}", data: { 'list-style' => 'horizontal', container: 'body' }, title: 'Display as list' }
                      %i.fa.fa-th-list
              - if @public_projects_sorted.size > 1
                .row.thumb-list{ class: style }
                  - @public_projects_sorted.each do |year, projects|
                    %h4.col-xs-12.thumb-horizontal= year
                    - projects.each_with_index do |project, i|
                      - show_year = (i > 0) ? false : true
                      = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, col: '4', show_year: show_year, ref: 'user' }
              - else
                .row.thumb-list{ class: style }
                  %h4 &nbsp;
                  - @public_projects_sorted.each do |year, projects|
                    - projects.each do |project|
                      = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, col: '4', ref: 'user' }

            - elsif user_is_current?
              %p
                You have no public projects.
                = link_to 'Showcase a project', new_project_path, class: 'btn btn-info btn-sm'
              %p.smaller.text-muted
                %strong Tip:
                Access private projects from the next tab.
            - else
              #{@user.name} has no public projects.

          .col-xs-3
            - if @user.interest_tags.any?
              .transparent-well
                .header
                  %h4 Interests
                .content
                  - @user.interest_tags.pluck(:name).each do |tag|
                    %span.label.label-default= tag
            - elsif user_is_current?
              .transparent-well
                .header
                  %h4 Interests
                .content
                  No interests.
                  = link_to 'Add some?', profile_edit_path, data: { remote: true }

            - if @user.skill_tags.any?
              .transparent-well
                .header
                  %h4 Skills
                .content
                  - @user.skill_tags.pluck(:name).each do |tag|
                    %span.label.label-default= tag
            - elsif user_is_current?
              .transparent-well
                .header
                  %h4 Skills
                .content
                  No skills.
                  = link_to 'Add some?', profile_edit_path, data: { remote: true }

            - if @broadcasts.any?
              .transparent-well
                .header
                  %h4 Recent activity
                .content
                  %ul
                    - @broadcasts.each do |broadcast|
                      %li
                        - broadcast = broadcast.decorate
                        = broadcast.message
                        .text-muted
                          = broadcast.created_at

        - if user_signed_in? and (@user == current_user or current_user.is? :admin)
          #tab-private.tab-pane.fade
            .col-xs-12
              - if @user.projects.private.any?
                - style = cookies['thumb-list-style'] || 'thumb-list-vertical'
                .row
                  .col-xs-12
                    .btn-group.thumb-list-switch.pull-right{ style: 'margin-bottom: 20px' }
                      %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-vertical'}", data: { 'list-style' => 'vertical', container: 'body' }, title: 'Display as tiles' }
                        %i.fa.fa-th-large
                      %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-horizontal'}", data: { 'list-style' => 'horizontal', container: 'body' }, title: 'Display as list' }
                        %i.fa.fa-th-list
                .row.thumb-list{ class: style }
                  - @user.projects.private.each do |project|
                    = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, col: '3', ref: 'userprivate' }
              - elsif user_is_current?
                %p
                  You have no private projects.

            -# .row
              %h4 Private projects you have access to

        #tab-respected.tab-pane.fade
          .col-xs-12
            - if @user.respected_projects.indexable.any?
              - style = cookies['thumb-list-style'] || 'thumb-list-vertical'
              .row
                .col-xs-12
                  .btn-group.thumb-list-switch.pull-right{ style: 'margin-bottom: 20px' }
                    %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-vertical'}", data: { 'list-style' => 'vertical', container: 'body' }, title: 'Display as tiles' }
                      %i.fa.fa-th-large
                    %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-horizontal'}", data: { 'list-style' => 'horizontal', container: 'body' }, title: 'Display as list' }
                      %i.fa.fa-th-list
              .row.thumb-list{ class: style }
                - @user.respected_projects.indexable.each do |project|
                  = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, col: '3', ref: 'userrespected' }
            - elsif user_is_current?
              %p
                You haven't respected any projects yet.
                = link_to 'Browse around', projects_path
                for cool projects!
            - else
              #{@user.name} hasn't respected any projects yet.

        #tab-comments.tab-pane.fade
          .col-xs-12
            - if @user.live_comments.any?
              %ul.list-unstyled
                - @user.live_comments.each do |comment|
                  %li.comment
                    %h5.comment-project
                      = link_to comment.commentable.name, project_path(comment.commentable, ref: 'usercomment')
                      %small
                        = time_ago_in_words(comment.created_at)
                        ago
                    .comment-text= comment.body.html_safe
            - elsif user_is_current?
              %p
                You haven't commented on any projects yet.
                = link_to 'Browse around', projects_path
                for projects you can get involved in!
            - else
              #{@user.name} hasn't commented on any projects yet.