= content_for :no_container do
  #heading.user
    .container
      .display= render 'teaser'
      .edit{ style: 'display:none;' }

  #content
    .container
      .row
        .span9
          - if @user.projects.any?
            %ul.thumbnails
              - @user.projects.indexable.each do |project|
                = render partial: 'projects/project_thumb', locals: { project: project.decorate }
          - elsif user_is_current?
            You have no projects.
            = link_to 'Showcase a new project', new_project_path, class: 'btn btn-info btn-small'
          - else
            #{@user.name} has no projects yet.

          -# if @user.publications.any? or can? :create, Publication, @user
            .well
              .header
                %h3
                  Publications
                  - if can? :create, Publication, @user
                    .pull-right= link_to 'Add a new publication', new_publication_path, class: 'btn btn-info btn-mini'
              .content
                - if @user.publications.any?
                  - @user.publications.each_with_fl do |publication, css|
                    .publication.preview{ class: css }
                      %h4
                        = publication.title
                        .subtitle
                          = l publication.published_on, format: :month
                        - if can? :edit, publication
                          = link_to 'Edit', edit_publication_path(publication), class: 'btn-edit'
                      .details
                        - if publication.journal.present?
                          Published in
                          = publication.journal
                          ·
                        - if publication.coauthors.present?
                          In collaboration with
                          = publication.coauthors
                          ·
                        - if publication.link.present?
                          = link_to 'Read more', publication.link
                      = publication.formatted_abstract.html_safe
                - else
                  #{@user.name} has no publications yet.

        .span3
          -# .well.sidebar-nav
            .header
              %h3 Following
            .content
              - if @user.followeds.any?
                %ul.user-list
                  - @user.followeds.each do |user|
                    %li= render partial: 'user_thumb_mini', locals: { user: user.decorate }
              - else
                No one yet.

          -# .well.sidebar-nav
            .header
              %h3 Followers
            .content
              - if @user.followers.any?
                %ul.user-list
                  - @user.followers.each do |user|
                    %li= render partial: 'user_thumb_mini', locals: { user: user.decorate }
              - else
                No one yet.

          - if @user.interest_tags.any?
            .transparent-well
              .header
                %h4 Interests
              .content
                - @user.interest_tags.pluck(:name).each do |tag|
                  %span.label= tag
          - elsif user_is_current?
            .transparent-well
              .header
                %h4 Interests
              .content
                No interests.
                = link_to 'Add some?', profile_edit_path, data: { remote: true }

          - if @user.skill_tags.any?
            .transparent-well
              .header
                %h4 Skills
              .content
                - @user.skill_tags.pluck(:name).each do |tag|
                  %span.label= tag
          - elsif user_is_current?
            .transparent-well
              .header
                %h4 Skills
              .content
                No skills.
                = link_to 'Add some?', profile_edit_path, data: { remote: true }

          - if @broadcasts.any?
            .transparent-well
              .header
                %h4 Recent activity
              .content
                %ul
                  - @broadcasts.each do |broadcast|
                    %li
                      - broadcast = broadcast.decorate
                      = broadcast.message
                      .muted
                        = broadcast.created_at