= content_for :no_container do
  #heading.user
    .container
      .display= render 'teaser'
      .edit{ style: 'display:none;' }

  #content
    .container
      .row
        .span8
          .well
            .header
              %h3
                My projects
                - if can? :create, Project, @user
                  .pull-right= link_to 'Add a new project', new_project_path, class: 'btn btn-info btn-mini'
            .content
              - if @user.projects.any?
                - @user.projects.each_with_fl do |project, css|
                  .project.preview{ class: css }
                    %h4
                      = link_to project.name, project
                      .subtitle
                        = l project.start_date, format: :month
                        \-
                        = project.end_date ? l(project.end_date, format: :month) : 'Present'
                    = project.description.html_safe
                    .image-thumbs
                      - project.images.each do |image|
                        = image_tag image.file_url(:small_thumb)
              - else
                #{@user.name} has no projects yet.

          - if @user.publications.any? or can? :create, Publication, @user
            .well
              .header
                %h3
                  My articles
                  - if can? :create, Publication, @user
                    .pull-right= link_to 'Add a new article', new_publication_path, class: 'btn btn-info btn-mini'
              .content
                - @user.publications.each_with_fl do |publication, css|
                  .publication.preview{ class: css }
                    %h4
                      = publication.title
                      .subtitle
                        = l publication.published_on, format: :month
                      - if can? :edit, publication
                        = link_to 'Edit', edit_publication_path(publication), class: 'btn-edit'
                    .details
                      - if publication.journal.present?
                        Published in
                        = publication.journal
                        ·
                      - if publication.coauthors.present?
                        In collaboration with
                        = publication.coauthors
                        ·
                      - if publication.link.present?
                        = link_to 'Read more', publication.link
                    %p= publication.abstract

        .span4
          .well.sidebar-nav
            .header
              %h3 Following
            .content
              - if @user.followeds.any?
                %ul.user-list
                  - @user.followeds.each do |user|
                    %li= render partial: 'user_thumb_mini', locals: { user: user.decorate }
              - else
                No one yet.

          .well.sidebar-nav
            .header
              %h3 Followers
            .content
              - if @user.followers.any?
                %ul.user-list
                  - @user.followers.each do |user|
                    %li= render partial: 'user_thumb_mini', locals: { user: user.decorate }
              - else
                No one yet.