= content_for :no_container do
  #heading.user
    .container
      .display= render 'teaser'
      .edit{ style: 'display:none;' }

  #content
    .container
      .row.tab-content
        #tab-public.tab-pane.active.fade.in
          .col-xs-9
            - if @user.projects.indexable.any?
              .row
                - @user.projects.indexable.each do |project|
                  = render partial: 'projects/project_thumb', locals: { project: project.decorate, col: '4' }
            - elsif user_is_current?
              %p
                You have no public projects.
                = link_to 'Showcase a project', new_project_path, class: 'btn btn-info btn-sm'
              %p.smaller.text-muted
                %strong Tip:
                Access private projects from the next tab.
            - else
              #{@user.name} has no public projects.

          .col-xs-3
            - if @user.interest_tags.any?
              .transparent-well
                .header
                  %h4 Interests
                .content
                  - @user.interest_tags.pluck(:name).each do |tag|
                    %span.label.label-default= tag
            - elsif user_is_current?
              .transparent-well
                .header
                  %h4 Interests
                .content
                  No interests.
                  = link_to 'Add some?', profile_edit_path, data: { remote: true }

            - if @user.skill_tags.any?
              .transparent-well
                .header
                  %h4 Skills
                .content
                  - @user.skill_tags.pluck(:name).each do |tag|
                    %span.label.label-default= tag
            - elsif user_is_current?
              .transparent-well
                .header
                  %h4 Skills
                .content
                  No skills.
                  = link_to 'Add some?', profile_edit_path, data: { remote: true }

            - if @broadcasts.any?
              .transparent-well
                .header
                  %h4 Recent activity
                .content
                  %ul
                    - @broadcasts.each do |broadcast|
                      %li
                        - broadcast = broadcast.decorate
                        = broadcast.message
                        .text-muted
                          = broadcast.created_at

        - if user_signed_in? and @user == current_user or current_user.is? :admin
          #tab-private.tab-pane.fade
            .col-xs-12
              - if @user.projects.private.any?
                .row
                  - @user.projects.private.each do |project|
                    = render partial: 'projects/project_thumb', locals: { project: project.decorate, col: '3' }
              - elsif user_is_current?
                %p
                  You have no private projects.

        #tab-respected.tab-pane.fade
          .col-xs-12
            - if @user.respected_projects.indexable.any?
              .row
                - @user.respected_projects.indexable.each do |project|
                  = render partial: 'projects/project_thumb', locals: { project: project.decorate, col: '3' }
            - elsif user_is_current?
              %p
                You haven't respected any projects yet.
                = link_to 'Browse around', projects_path
                for cool projects!
            - else
              #{@user.name} hasn't respected any projects yet.

        #tab-comments.tab-pane.fade
          .col-xs-12
            - if @user.comments.where(commentable_type: 'Project').any?
              %ul.list-unstyled
                - @user.comments.where(commentable_type: 'Project').each do |comment|
                  %li.comment
                    %h5.comment-project
                      = link_to comment.commentable.name, comment.commentable
                      %small
                        = time_ago_in_words(comment.created_at)
                        ago
                    .comment-text= comment.body.html_safe
            - elsif user_is_current?
              %p
                You haven't commented on any projects yet.
                = link_to 'Browse around', projects_path
                for projects you can get involved in!
            - else
              #{@user.name} hasn't commented on any projects yet.