<p>Hello there,</p>

<p><a href="<%= u.platform_home_url(@context[:platform]) %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>"><%= @context[:platform].name %></a> just posted news on <a href="https://www.hackster.io?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Hackster.io</a>:</p>

<p class="quote">
  <strong><a href="<%= u.platform_announcement_url(@context[:announcement]) %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>"><%= @context[:announcement].title %></a></strong>
  <br>
  <br>
  <%= strip_tags(@context[:announcement].body).truncate(300) %>
</p>

<p><a href="<%= u.platform_announcement_url(@context[:announcement]) %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Read the full announcement</a></p>

<%= render 'signature' %>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:follow_platform_activity|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>