<p>Hello there,</p>

<p>This is to confirm that you've added <a href="|project_link|">|project_name|</a> to <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a>.</p>

<p>Please note that it is not yet submitted. You have until <%= l @context[:challenge].end_date.in_time_zone(PDT_TIME_ZONE) %> PDT to complete the project and submit it to the <%= @context[:challenge].self_label %>.</p>

<p>Project complete? <a href="<%= u.challenge_url(@context[:challenge], submit: @context[:entry].id) %>">Submit it</a>.</p>

<%= render 'signature' %>