<p>Welcome to <% if @context[:user].platform.present? and @context[:user].platform != 'hackster' %><%= Platform.find_by_user_name!(@context[:user].platform).client_subdomain.name %>, powered by Hackster.io<% else %>Hackster.io<% end %>!</p>

<p>We're so excited to have you onboard :)</p>

<p>By simply joining you've jumped to <a href="http://30.media.tumblr.com/tumblr_ln9521omMb1qeh1a7o1_r1_400.gif">the next level of hackerness</a>.</p>

<p>What now? Here are three tips to help you make the best out of Hackster:</p>

<ul>
  <li>Find out <a href="https://hackster.uservoice.com/knowledgebase/articles/616629-how-do-i-earn-reputation">how to <strong>earn free hardware</strong></a> from the <a href="<%= u.store_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Hackster Free Store</a></li>
  <li><a href="<%= u.platforms_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Follow platforms</a> and <a href="<%= u.user_toolbox_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">add products to your toolbox</a> to <strong>be alerted when new projects are posted</strong></li>
  <li><a href="<%= u.challenges_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Participate in contests</a> for a chance to <strong>win awesome prizes</strong></li>
</ul>

<% if @context[:user].platform.present? and @context[:user].platform != 'hackster' %>
  <p>Please note: your account will allow you to log in onto any Hackster.io site.</p>
<% end %>

<p>Any questions? Just reply to this email and help will be on its way.</p>

<%= render 'signature' %>