- show_edit = defined?(show_edit) ? show_edit : nil

%span.hidden-sm.hidden-md.hidden-lg
  - if show_edit
    = content_tag :a, content_tag(:i, '', class: 'fa fa-edit'), class: 'btn btn-sm btn-info btn-standout', href: edit_project_path(@project)
  - else
    = content_tag :button, content_tag(:i, '', class: 'fa fa-check'), class: 'btn btn-success medium-edit-stop medium-edit-show istooltip btn-sm', data: { container: 'body' }, title: "Finish editing", href: project_path(@project)
%span.hidden-xs
  - if show_edit
    = content_tag :a, "#{content_tag(:i, '', class: 'fa fa-edit')} Edit project details".html_safe, class: 'btn btn-sm btn-info btn-standout', href: edit_project_path(@project)
  - else
    = content_tag :button, "#{content_tag(:i, '', class: 'fa fa-check')} Finish editing".html_safe, class: 'btn btn-success medium-edit-stop medium-edit-show btn-sm', href: project_path(@project)

.btn-group
  = link_to content_tag(:i, '', class: 'fa fa-cog'), settings_project_path(@project), class: 'btn btn-default btn-sm', rel: 'tooltip', data: { container: 'body' }, title: 'Edit settings'
  = link_to content_tag(:i, '', class: 'fa fa-group'), project_edit_team_path(@project), class: 'btn btn-default btn-sm', rel: 'tooltip', data: { container: 'body' }, title: 'Manage team'