%span.hidden-sm.hidden-md.hidden-lg
  = content_tag :button, content_tag(:i, '', class: 'fa fa-edit'), class: 'btn btn-info btn-standout medium-edit-start medium-edit-hide istooltip btn-sm', data: { container: 'body' }, title: 'Edit project details'
  = content_tag :button, content_tag(:i, '', class: 'fa fa-check'), class: 'btn btn-success medium-edit-stop medium-edit-show istooltip btn-sm', style: 'display:none', data: { container: 'body' }, title: "Finish editing"
%span.hidden-xs
  = content_tag :a, "#{content_tag(:i, '', class: 'fa fa-edit')} Edit project details".html_safe, class: 'btn btn-info btn-standout medium-edit-start medium-edit-hide btn-sm', href: ''
  = content_tag :a, "#{content_tag(:i, '', class: 'fa fa-check')} Finish editing".html_safe, class: 'btn btn-success medium-edit-stop medium-edit-show btn-sm', style: 'display:none', href: ''
.btn-group
  = link_to content_tag(:i, '', class: 'fa fa-cog'), edit_project_path(@project), class: 'btn btn-default btn-sm', rel: 'tooltip', data: { container: 'body' }, title: 'Edit settings'
  = link_to content_tag(:i, '', class: 'fa fa-group'), project_edit_team_path(@project), class: 'btn btn-default btn-sm', rel: 'tooltip', data: { container: 'body' }, title: 'Manage team'