#signup-popup.popup-overlay
  .popup-overlay-bg
  .popup-overlay-outer
    .popup-overlay-inner
      %button.close{ onclick: "closePopup('.popup-overlay');" } &times;
      %h2
        Hackster.io gives professionals and hobbyists
        %br
        the resources they need to build hardware.
      %p
        %strong Join the community and start building.
        -# Choose how to connect:
      -# %div{ style: 'font-size: 20px' }
        = link_to 'Facebook', user_omniauth_authorize_url(:facebook), class: 'zocial icon facebook'
        = link_to 'Github', user_omniauth_authorize_path(:github), class: 'zocial icon github'
        = link_to 'Google+', user_omniauth_authorize_path(:gplus), class: 'zocial icon googleplus'
        = link_to 'Twitter', user_omniauth_authorize_path(:twitter), class: 'zocial icon twitter'
        = link_to 'Email', 'javascript:$(".popup-overlay-inner").toggleClass("expanded");', class: 'zocial icon email'

      = simple_form_for User.new, url: simplified_registrations_path, html: { id: 'signup-popup-email', class: 'form-compact disable-on-submit' } do |f|
        %input{ type: 'hidden', name: 'redirect_to' }
        = f.input :email, label: false, placeholder: 'Email', tabindex: 1
        = f.button :submit, "Continue", class: 'btn btn-primary btn-block'

      %p
        %small
          = link_to 'Prefer connecting using your social account?', new_user_registration_path(highlight: 'connect')
          Already have an account?
          = link_to 'Sign in', new_user_session_path

= content_for :js do
  :javascript
    $(document).ready(function(){
      window.setTimeout(function(){
        $('#signup-popup').fadeIn(600);
      }, 1000);
    });