#signup-popup
  #signup-popup-bg
  #signup-popup-outer
    #signup-popup-inner
      %button.close{ onclick: "closePopup('#signup-popup');" } &times;
      %h2
        Hackster.io is a collaborative knowledge base
        %br
        for the hardware maker community.
      %p
        %strong Join the community and start contributing.
        Choose how to connect:
      %div{ style: 'font-size: 20px' }
        = link_to 'Facebook', user_omniauth_authorize_url(:facebook), class: 'zocial icon facebook'
        = link_to 'Github', user_omniauth_authorize_path(:github), class: 'zocial icon github'
        = link_to 'Google+', user_omniauth_authorize_path(:gplus), class: 'zocial icon googleplus'
        = link_to 'Twitter', user_omniauth_authorize_path(:twitter), class: 'zocial icon twitter'
        = link_to 'Email', 'javascript:$("#signup-popup-inner").toggleClass("expanded");', class: 'zocial icon email'

      = simple_form_for User.new, url: user_registration_path, html: { id: 'signup-popup-email', class: 'form-compact' } do |f|
        %hr
        = f.input :email, label: false, placeholder: 'Email', tabindex: 1
        = f.input :email_confirmation, label: false, placeholder: 'Confirm email'
        = f.input :password, label: false, placeholder: 'Password'
        = f.button :submit, "Sign up", class: 'btn btn-primary btn-block'

= content_for :js do
  :javascript
    $(document).ready(function(){
      window.setTimeout(function(){
        $('#signup-popup').fadeIn(600);
      }, 1000);
    });
    $('#signup-popup-bg').click(function(){
      $('#signup-popup').fadeOut(200);
    });
    function closePopup(id) {
      $(id).fadeOut(200);
      return false;
    }