- cache "client-project-#{project.id}-thumb", tag: ["project-#{project.id}-thumb", "project-#{project.id}-thumb-client", "team-#{project.team_id}", "team-#{project.team_id}-user-thumbs", "project-thumb", 'client-project-thumb'], expires_in: 6.hours do
  %div{ class: "col-md-#{ defined?(col) ? col : 3 } col-xs-12 col-sm-6" }
    - ref = defined?(ref) ? ref : nil
    .project-thumb
      .thumb
        .photo-thumb= link_to '', project_url(project, ref: ref, subdomain: 'www'), class: 'project-link-with-ref', style: "background-image:url(#{project.cover_image(:cover_thumb)});"
        .inner-thumb
          %h3= link_to project.name, project_url(project, ref: ref, subdomain: 'www')
          %h4
            by
            - if project.guest_name.present?
              = project.guest_name
            - else
              - users = project.users
              - if project.team_members_count < 4
                = project.users.map { |u| link_to u.name, user_url(u, subdomain: 'www') }.to_sentence.html_safe
              - else
                - more = content_tag(:a, "more #{content_tag(:i, '', class: 'fa fa-question-circle')}".html_safe, class: 'help', data: { container: 'body', toggle: 'popover', placement: 'bottom', content: project.users.map { |u| link_to u.name, u }.to_sentence, html: 'true', trigger: 'hover', delay: '100' }, rel: 'popover')
                = (project.users[0..2].map{ |u| link_to u.name, user_url(u, subdomain: 'www') } + [more]).to_sentence.html_safe
          %p= truncate project.one_liner, length: 140
          .thumb-bottom
            %hr
            - if project.public?
              %span.counter.first.istooltip{ title: 'Views' }
                %i.fa.fa-eye
                = project.impressions_count
              %span.counter.istooltip{ title: 'Respects' }
                %i.fa.fa-thumbs-o-up
                = project.respects_count
            - else
              %span.counter
                %i.fa.fa-lock
                Private
            %span.counter.istooltip{ title: 'Comments', data: { container: 'body' } }
              %i.fa.fa-comments
              = project.comments_count
            - if project.wip?
              %span.counter.istooltip{ title: 'Work in progress', data: { container: 'body' } }
                %i.fa.fa-wrench