- cache "client-project-#{project.id}-thumb", tag: ["project-#{project.id}-thumb", "project-#{project.id}-thumb-external", "project-#{project.id}-thumb-external-client", "team-#{project.team_id}", "team-#{project.team_id}-user-thumbs"] do
  %div{ class: "project-#{project.id} col-xs-#{ defined?(col) ? col : 3 }" }
    .project-thumb
      .thumb
        .photo-thumb
          = link_to image_tag(project.cover_image(:cover_thumb), alt: project.name), external_project_url(project, subdomain: 'www')
          .thumb-top
            .thumb-top-inner
        .inner-thumb
          %h3= link_to project.name, external_project_url(project, subdomain: 'www')
          %h4
            - if project.guest_name.present?
              by
              %span.fake-link= project.guest_name
            - elsif u = project.users.first
              by
              = link_to u.name, u
            on
            %span.fake-link= URI.parse(project.website).host.gsub(/^www\./, '')
          %p= truncate project.one_liner, length: 140