-# = content_for :head do
  %meta{ name: 'robots', content: 'noindex' }
  = auto_discovery_link_tag :rss, projects_path(format: :rss), title: 'Most recent projects - Hackster.io'
  = auto_discovery_link_tag :atom, projects_path(format: :atom), title: 'Most recent projects - Hackster.io'

.content.projects
  .row
    #subheading.col-xs-12
      %p.pull-left= current_tech.mini_resume

      %ul.list-inline.list-unstyled.pull-right
        - if current_tech.documentation_link.present?
          %li= link_to "Documentation", current_tech.documentation_link, target: '_blank'
        - if current_tech.forums_link.present?
          %li= link_to "Forums", current_tech.forums_link, target: '_blank'
        - if current_tech.crowdfunding_link.present?
          %li= link_to "Preorder #{current_tech.name}", current_tech.crowdfunding_link, target: '_blank'
        - if current_tech.buy_link.present?
          %li= link_to "Buy #{current_tech.name}", current_tech.buy_link, target: '_blank'

    .col-xs-12
      .row.thumb-list
        - @tech = current_tech
        - @projects.each do |project|
          = content_for :js do
            :javascript
              text = "#{escape_javascript render(partial: 'respects/button_featured', locals: { project: project } )}";
              $(text).appendTo($('.project-#{project.id} .project-thumb .thumb-top-inner'));
          - if project.external
            = render partial: 'projects/project_thumb_external', locals: { project: project.decorate }
          - else
            = render partial: 'client/projects/project_thumb', locals: { project: project.decorate }
      .row
        .col-xs-12.text-center= will_paginate @projects