.comments
  -# { id: "widget-#{widget.id}-comments" }
  - if comments.any?
    - sort_comments(comments).each do |comment|
      = render partial: 'comments/comment', locals: { comment: comment }
  - else
    %p Be the first to comment!
  - if user_signed_in?
    = render partial: 'comments/signed_in_form', locals: { commentable: commentable }
  - else
    %p
      Please
      = link_to 'log in', new_user_session_path(redirect_to: url_for(commentable))
      or
      = link_to 'sign up', new_user_registration_path
      to comment.