= simple_nested_form_for [@project, @widget], url: widget_form_path(@project, @widget), html: { class: 'widget-form accept-file-upload', data: { remote: true } } do |f|
  = f.error_notification
  - if @widget.persisted?
    = f.input :name, label: 'Give it a label'
    = render partial: "widgets/form/#{@widget.identifier}_form", locals: { f: f, widget: @widget }
    .form-actions
      = f.submit 'Save changes', class: 'btn btn-primary'
      = link_to 'Delete widget', project_widget_path(@project, @widget), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Are you sure? There's no coming back!", remote: true }
      = link_to 'Cancel', @project, class: 'btn btn-link btn-sm btn-cancel', data: { hide: "#widget-#{@widget.id} .edit", show: "#widget-#{@widget.id} .content" }
  - else
    .form-group{ class: "#{'has-error' if @widget.errors.messages[:type].present?}" }
      %label.control-label
        %abbr{ title: 'required' } *
        What type of content do you want to add?
      .widget-categories
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "TextWidget")
          %i.fa.fa-align-left
          %br
          %small
            Text
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "ImageWidget")
          %i.fa.fa-picture-o
          %br
          %small Images
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default{ data: { target: '#cat-code', toggle: 'subcat' }}
          %i.fa.fa-code
          %br
          %small Code
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "VideoWidget")
          %i.fa.fa-play-circle-o
          %br
          %small Video
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default{ data: { target: '#cat-schematics', toggle: 'subcat' }}
          %i.fa.fa-cogs
          %br
          %small Schematics
        %a.btn.btn-default{ data: { target: '#cat-sales', toggle: 'subcat' }}
          %i.fa.fa-usd
          %br
          %small Sales tools
        %a.btn.btn-default{ data: { target: '#cat-others', toggle: 'subcat' }}
          %i.fa.fa-ellipsis-h
          %br
          %small Others
      #cat-code.widget-categories.widget-subcategories
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "DocumentWidget")
          %i.fa.fa-archive
          %br
          %small Archived code files
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "BitbucketWidget")
          %i.fa.fa-bitbucket
          %br
          %small Bitbucket repo
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "GithubWidget")
          %i.fa.fa-github
          %br
          %small Github repo
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "CodeWidget")
          %i.fa.fa-code
          %br
          %small Single code file
          %i.fa.fa-check-circle-o.checkmark
      #cat-schematics.widget-categories.widget-subcategories
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "CircuitsioWidget")
          %i.fa.fa-cogs
          %br
          %small Circuits.io schematics
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "OshparkWidget")
          %i.fa.fa-cogs
          %br
          %small OSH Park shared project
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "UpverterWidget")
          %i.fa.fa-cogs
          %br
          %small Upverter schematics
          %i.fa.fa-check-circle-o.checkmark
      #cat-sales.widget-categories.widget-subcategories
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "BuyWidget")
          %i.fa.fa-usd
          %br
          %small Buy now link
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "PaypalWidget")
          %i.fa.fa-usd
          %br
          %small PayPal button
          %i.fa.fa-check-circle-o.checkmark
      #cat-others.widget-categories.widget-subcategories
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "PartsWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Bill of materials
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "BuildLogWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Build log
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "CreditsWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Credits attribution
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "DocumentWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Files and documents
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "IssuesWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Issues
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "PressWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Press articles
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "SketchfabWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Sketchfab renderings
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "StepByStepWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small Step by step guide
          %i.fa.fa-check-circle-o.checkmark
        %a.btn.btn-default.with-radio
          = radio_button("widget", "type", "StlWidget")
          %i.fa.fa-ellipsis-h
          %br
          %small STL renderings
          %i.fa.fa-check-circle-o.checkmark
      - if @widget.errors.messages[:type].present?
        %span.help-block.has-error= @widget.errors.messages[:type].to_sentence
    -# = f.input :type, collection: Widget.all_types, label: 'What kind of widget do you want to create?'
    = f.input :name, label: 'Give it a label'
    .form-actions
      = f.submit 'Save and continue', class: 'btn btn-primary'
      = link_to 'Cancel', @project, class: 'btn btn-link btn-sm'

:javascript
  $('input[type="radio"]:checked').each(function(i, rad){
    $(rad).parent().addClass('active');
    $('.checkmark', $(rad).parent()).show();
    if ($(rad).parent().parent().hasClass('widget-subcategories')) {
      $(rad).parent().parent().show();
      $('.btn[data-target="#' + $(rad).parent().parent().attr('id') + '"]').addClass('active');
    }
  });