= simple_nested_form_for [@stage, @widget], url: widget_form_path(@stage, @widget), html: { class: 'form-horizontal full-size' } do |f|
  = f.error_notification
  = f.input :name
  = f.input :completion_share
  - if @widget.persisted?
    = render partial: "widgets/form/#{@widget.identifier}_form", locals: { f: f, widget: @widget }
    = f.input :completion_rate
    = f.submit 'Save changes', class: 'btn btn-primary'
    = link_to 'Delete widget', stage_widget_path(@stage, @widget), class: 'btn btn-danger btn-small', method: :delete
  - else
    = f.input :type, collection: Widget.all_types
    = f.submit 'Continue', class: 'btn btn-primary'
  = link_to 'Cancel', @stage.project, class: 'btn btn-link btn-small'