= simple_nested_form_for [@project, @widget], url: widget_form_path(@project, @widget), html: { class: 'full-size widget-form' } do |f|
  = f.error_notification
  = f.input :name, label: 'Give it a label'
  - if @widget.persisted?
    = render partial: "widgets/form/#{@widget.identifier}_form", locals: { f: f, widget: @widget }
    .form-actions
      = f.submit 'Save changes', class: 'btn btn-primary'
      = link_to 'Delete widget', project_widget_path(@project, @widget), class: 'btn btn-danger btn-small', method: :delete
      = link_to 'Cancel', @project, class: 'btn btn-link btn-small'
  - else
    = f.input :type, collection: Widget.all_types, label: 'What kind of widget do you want to create?'
    .form-actions
      = f.submit 'Save and continue', class: 'btn btn-primary'
      = link_to 'Cancel', @project, class: 'btn btn-link btn-small'