- cache [widget, can?(:update, widget)], tag: "widget-#{widget.id}" do
  .widget{ id: "widget-#{widget.id}" }
    - if widget.default_label
      .header
        %h3= widget.default_label
    = render partial: "widgets/show/#{widget.identifier}", locals: { widget: widget }