.row
  .wellified{ class: 'col-xs-6 col-xs-offset-3' }
    %h2{ style: 'text-align: center' } Reorder widgets
    = simple_nested_form_for @project, url: project_widgets_path(@project), html: { class: 'widget-form widget-reorder-form' } do |f|
      = f.error_notification
      = f.input :columns_count, label: false, wrapper_html: { class: 'text-center' } do
        .btn-group{ data: { toggle: 'buttons' }}
          %label.btn.btn-default{ class: "#{'active' if @project.columns_count == 1}"}
            = radio_button_tag 'project[columns_count]', '1', (@project.columns_count == 1)
            One column
          %label.btn.btn-default{ class: "#{'active' unless @project.columns_count == 1}"}
            = radio_button_tag 'project[columns_count]', '2', (@project.columns_count != 1)
            Two columns

      #sortable-1.sortable{ style: "#{'display:none' unless @project.columns_count == 1}"}
        %ul.single
          - @project.widgets.each do |widget|
            = render partial: 'field_reorder', locals: { f: f, widget: widget, project: @project }

      #sortable-2.sortable{ style: "#{'display:none' if @project.columns_count == 1}"}
        %ul.first
          - @project.widgets_first_col.each do |widget|
            = render partial: 'field_reorder', locals: { f: f, widget: widget, project: @project }
        %ul.second
          - @project.widgets_second_col.each do |widget|
            = render partial: 'field_reorder', locals: { f: f, widget: widget, project: @project }
        .clearfix
        %p.help-block Just drag and drop widget tiles on the same column or from one column to the other.

      %p.help-block Hover over a tile and click the cross to delete a widget.
      .form-actions
        = f.submit 'Save', class: 'btn btn-primary'
        = link_to 'Cancel', @project, class: 'btn btn-link btn-sm'

= content_for :js do
  :javascript
    $(function() {
      updatePlaceholders();

      $('input[name="project[columns_count]"]').change(function(){
        $('.sortable').hide()
        $('#sortable-' + $(this).val()).show();
      });

      $('form').submit(function(){
        $('.sortable:hidden').remove();
      });

      $('ul')
        .sortable({
          connectWith: 'ul',
          items: 'li:not(".placeholder")',
          over: function() {
            $(this).children('.placeholder').hide()
          },
          out: function(event, ui) {
            $(this).children('.placeholder').show();
          }
        })
        .bind('sortstop', function(event, ui) {
          updatePlaceholders();
          resetPositions();
        });
    });

    function resetPositions(){
      $('.sortable:visible ul').each(function(i){
        $('.position', $(this)).each(function(j){
          col = i+1;
          row = j+1;
          if (row < 10) {
            row = '0' + row;
          }
          $(this).val(col + '.' + row);
        });
      });
    }
    function updatePlaceholders(){
      $('.sortable ul').each(function(i){
        length = $(this).children('li:not(".placeholder")').length;
        if (length == 0) {
          plLength = $(this).children('li.placeholder').length;
          if (plLength == 0) {
            $('<li class="placeholder">Empty</li>').appendTo($(this));
          }
        } else {
          $(this).children('.placeholder').remove();
        }
      });
    }