.col-xs-8.col-xs-offset-2
  .wellified
    %h2.text-center Manage members

    = simple_nested_form_for @group, url: group_members_path(@group), html: { class: 'widget-form' } do |f|
      = f.error_notification
      %table#sortable.table.table-condensed
        %thead
          %th User
          %th Role
          %th Permission
          %th Status
          %th
        %tbody
          - @group.members.includes(:user).sort_by{|m| m.user.name || m.user.email }.each do |member|
            = f.simple_fields_for :members, member, wrapper: false do |f_member|
              %tr.fields
                - if member.persisted?
                  %td
                    - if member.user.name.present?
                      = link_to member.user.name, member.user
                    - else
                      = member.user.email
                - else
                  %td
                    = f_member.input :grantee_id, collection: @group.members.invitation_accepted_or_not_invited.includes(:user).map(&:user).reject{|u| u.invited_to_sign_up? }.sort_by{|u| u.name }, label: false
                    = f_member.input :grantee_type, as: :hidden, input_html: { value: 'User' }
                %td
                  - unless member.requested_to_join_at.present? and member.approved_to_join == false
                    = f_member.input :group_roles, collection: EventMember.group_roles, label: false
                = f_member.simple_fields_for :permission do |f_perm|
                  %td= f_perm.input :action, collection: Permission::ACTIONS, label: false
                - if member.requested_to_join_at.present? and member.approved_to_join == false
                  %td
                %td
                  - if member.persisted?
                    - if member.invitation_pending?
                      - if member.user.invited_to_sign_up?
                        Pending sign up
                      - else
                        Invitation pending
                    - else
                      - if member.requested_to_join_at.present? and !member.approved_to_join
                        - if member.approved_to_join.nil?
                          Pending approval
                          %div
                            = link_to 'Approve', member_process_path(member, hacker_space: 'approve'), class: 'btn btn-sm btn-success', data: { method: :patch }
                            = link_to 'Reject', member_process_path(member, hacker_space: 'reject'), class: 'btn btn-sm btn-danger', data: { method: :patch }
                        - elsif !member.approved_to_join
                          Rejected
                      - else
                        Member
                  - else
                    Not saved
                %td= f_member.link_to_remove content_tag(:i, '', class: 'fa fa-trash-o'), class: 'btn btn-sm btn-danger'
          -# %tr.sortable-disabled
            %td{ colspan: 2 }= f.link_to_add 'Add a member', :members, class: 'btn btn-xs btn-success'
      -# %p.help-block
        Add users to manage your group.

      .form-actions
        = f.submit 'Save changes', class: 'btn btn-primary'
        = link_to 'Cancel', @group, class: 'btn btn-link btn-sm'


    = content_for :js do
      :javascript
        jQuery(function($) {
          window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
            var $tr = $(link).closest('tr');
            content = content.replace(/^<div class="fields">/,"");
            content = content.replace(/<\/div>$/,"");
            return $(content).insertBefore($tr);
          }
        });