- model_class = Project
.page-header
  %h1
    =t '.title', :default => model_class.model_name.human.pluralize
    %small= link_to 'New normal', new_admin_project_path, :class => 'btn btn-primary btn-sm'
    %small= link_to 'New external', new_admin_project_path(project: { external: true }), :class => 'btn btn-primary btn-sm'

= render 'admin/shared/search_form_tag'
- (@fields.keys - %w(created_at private made_public_at external)).each do |field|
  = render partial: 'admin/shared/search_form_text_field', locals: { field: field }
= render partial: 'admin/shared/search_form_checkbox_field', locals: { field: 'private' }
= render partial: 'admin/shared/search_form_checkbox_field', locals: { field: 'external' }
= render 'admin/shared/search_form_sort_and_submit'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:team)
      %th= model_class.human_attribute_name(:visibility)
      %th= model_class.human_attribute_name(:updated_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, (project.external ? external_project_path(project) : project)
        %td
          - if project.external
            External
          - else
            = project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
        %td= project.private? ? '<b>Private</b>'.html_safe : (project.hidden? ? 'Hidden' : 'Public')
        %td=l project.updated_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_project_path(project), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

.pagination.col-xs-12.text-center
  = will_paginate @projects