- @tech = GroupDecorator.decorate @tech

- if can? :join, @tech and user_signed_in? and member = current_user.is_member?(@tech) and member.invitation_pending?
  .row
    .col-xs-12
      .alert.alert-warning.alert-flat
        .container
          You have been invited to join
          = succeed '.' do
            %strong #{@tech.name}
          = link_to 'Rock the place', group_accept_invitation_path(@tech), class: 'btn btn-warning btn-sm'

#content-header.with-nav
  .container
    .media
      - if @tech.avatar
        .pull-left
          %span.avatar.medium-avatar= image_tag @tech.avatar(:medium), class: 'media-object'
      .media-body
        %h1
          - if @tech.private?
            %small
              %i.fa.fa-lock.istooltip{ title: 'Private group', data: { container: 'body' } }
          = link_to @tech.name, tech_short_path(@tech)
          - if user_signed_in? and member = current_user.is_active_member?(@tech)
            %span.badge You're a member
        %p
          - if @tech.mini_resume.present?
            = @tech.mini_resume
          - elsif can? :update, @tech
            No mini resume.
            = link_to 'Add one?', edit_tech_path(@tech), data: { remote: true }

          - if @tech.websites.any?
            %ul.websites.list-inline
              - @tech.websites.select{|t,u| u.present? }.each do |type, url|
                %li= render partial: "shared/website", locals: { type: type, url: url }
          - elsif can? :update, @tech
            %ul.websites.list-inline
              %li
                No websites.
                = link_to 'Add some?', edit_tech_path(@tech), data: { remote: true }

    .row
      .col-xs-12
        .tabbable.tabs-left.navbar.navbar-default.navbar-tabs{ style: 'background: #fff;' }
          %ul.nav.navbar-nav
            %li.active= link_to "Projects", '#tab-projects', data: { toggle: 'tab' }
            - link = user_signed_in? ? new_project_path(project: { tech_tags_string: @tech.tech_tags.first.name }) : new_user_registration_path(redirect_to: new_project_path(project: { tech_tags_string: @tech.tech_tags.first.name }), reason: 'project', m: 'group', id: @tech.id)
            %li= link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Add project".html_safe, link
            - if @tech.documentation_link.present?
              %li= link_to "Documentation", @tech.documentation_link, target: '_blank'
            - if @tech.forums_link.present?
              %li= link_to "Forums", @tech.forums_link, target: '_blank'
            - if @tech.crowdfunding_link.present?
              %li= link_to "Preorder #{@tech.name}", @tech.crowdfunding_link, target: '_blank'
            - if @tech.buy_link.present?
              %li= link_to "Buy #{@tech.name}", @tech.buy_link, target: '_blank'
            -# %li= link_to "Q&A #{content_tag(:span, 0, class: 'badge')}".html_safe, '#tab-qa', data: { toggle: 'tab' }
            %li= render partial: 'projects/share'

            - if can? :manage, @tech
              %li.dropdown
                %a.dropdown-toggle.action{ data: { toggle: 'dropdown' }, href: '#', title: 'Settings', rel: 'tooltip' }
                  %i.fa.fa-cog
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'Edit tech', edit_tech_path(@tech), data: { remote: true }
                  %li= link_to 'Manage members', group_edit_members_path(@tech)
                  %li= link_to 'Invite members', group_new_invitations_path(@tech)

- if !user_signed_in? or can? :join, @tech
  .row
    .col-xs-12
      .alert.alert-info.alert-flat.text-center{ style: 'font-size:19px'}
        .container
          Love
          = succeed '?' do
            %strong= @tech.name
          - link = user_signed_in? ? group_accept_invitation_path(@tech) : new_user_registration_path(redirect_to: group_accept_invitation_path(@tech), reason: 'join', m: 'group', id: @tech.id)
          = link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Join the community".html_safe, link, class: 'btn btn-info'