- cache "tech-#{tech.id}-thumb", tag: ["tech-#{tech.id}-thumb"], expires_in: 24.hours do
  .col-xs-6.col-sm-3.col-md-2.tech-thumb
    = link_to(image_tag(tech.avatar.file_url(:big), class: 'img-thumbnail'), tech_short_path(tech)) if tech.avatar
    %h6.text-center
      = link_to tech.name, tech_short_path(tech)
      %span.badge.istooltip{ title: 'Projects', data: { container: 'body' } }= tech.projects_count
    %p.text-center= tech.mini_resume