.container
  - if @projects.any?
    .row
      .col-xs-12
        - @projects.each_with_index do |project, i|
          = content_for :js do
            :javascript
              text = "#{escape_javascript render(partial: 'respects/button_featured', locals: { project: project } )}";
              $(text).appendTo($('.project-#{project.id} .project-thumb .thumb-top-inner'));

          - if project.external
            = render partial: 'projects/project_thumb_external', locals: { project: project.decorate }
          - else
            = render partial: "projects/project_embed_thumb#{@list_style}", locals: { project: project.decorate, col: '3', ref: 'tech', ref_id: @tech.id }
    .row
      .col-xs-12.text-center= will_paginate(@projects)

  - else
    All the projects made with #{@tech.name} will appear here.
  .row
    .col-xs-12
      %p.pull-right.text-muted
        %small
          Projects made with
          = link_to @tech.name, tech_short_url(@tech), target: '_blank'
          on
          = link_to 'Hackster.io', root_url, target: '_blank'