-# content_for :js do
  - @tech.respects.each do |respect|
    :javascript
      $('.project-list').prepend($('.project-#{respect.project_id}'));

- content_for :head do
  %meta(property="og:title" content="#{@tech.name} projects")
  %meta(property="og:description" content="People are hacking with #{@tech.name} on Hackster.io. Join them!")
  - if @tech.avatar
    %meta(property="og:image" content="#{@tech.avatar.file_url(:big)}")
    %meta(property="twitter:image:src" content="#{@tech.avatar.file_url(:big)}")
  %meta(property="og:url" content="#{tech_short_url(@tech)}")
  %meta(property="og:site_name" content="Hackster.io")
  %meta(property="twitter:card" content="summary")
  %meta(property="twitter:site" content="@hacksterio")
  %meta(property="twitter:domain" content="hackster.io")
  %meta(property="twitter:title" content="#{@tech.name} projects")
  %meta(property="twitter:description" content="#{@tech.mini_resume}")
  - if link = @tech.twitter_link.presence and handle = link.match(/twitter.com\/(.+)/).try(:[], 1)
    %meta(property="twitter:creator" content="@#{handle}")
  %link(rel="canonical" href="#{tech_short_url(@tech)}")

- if @tech.cover_image
  %section#top-bg
    #top-bg-image{:style=>"background-image:url('#{@tech.cover_image.try(:file_url)}');"}

- if can? :join, @tech and user_signed_in? and member = current_user.is_member?(@tech) and member.invitation_pending?
  %section#alert-section
    .alert.alert-warning.alert-flat
      You have been invited to manage
      = succeed '.' do
        %strong #{@tech.name}
      = link_to 'Rock the place', group_accept_invitation_path(@tech), class: 'btn btn-warning btn-sm'

%section#projects-list
  .wrapper
    .project-list-actions.clearfix.mg-30
      -# if can? :add_project, @tech
      .pull-right
        - link = user_signed_in? ? new_project_path(project: { tech_tags_string: @tech.tech_tags.first.name }) : new_user_registration_path(reason: 'project', m: 'group', id: @tech.id)
        = link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Add a project".html_safe, link, class: 'btn btn-outline'
        %small or
        -# link = user_signed_in? ? new_project_path(project: { tech_tags_string: @tech.tech_tags.first.name, external: true }, redirect_to: request.path) : new_user_registration_path(reason: 'link', m: 'group', id: @tech.id)
        - link = new_project_path(project: { tech_tags_string: @tech.tech_tags.first.name, external: true }, redirect_to: request.path)
        = link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Submit a link".html_safe, link, class: 'btn btn-outline'

      - style = cookies['thumb-list-style'] || 'thumb-list-vertical'
      .btn-group.thumb-list-switch.pull-left
        %button.btn.btn-default.btn-sm{ class: "#{'active' if style == 'thumb-list-vertical'}", data: { 'list-style' => 'vertical', container: 'body' }, title: 'Display as tiles' }
          %i.fa.fa-th-large
        %button.btn.btn-default.btn-sm{ class: "#{'active' if style == 'thumb-list-horizontal'}", data: { 'list-style' => 'horizontal', container: 'body' }, title: 'Display as list' }
          %i.fa.fa-th-list
    - if @projects.any?
      .thumb-list{ class: style }
        .row.project-list
          - @projects.each do |project|
            - if project.external
              = render partial: 'projects/project_thumb_external', locals: { project: project.decorate }
            - else
              = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, col: '3' }
      .row.text-center= will_paginate @projects
    - else
      .row
        .col-xs-12
          %p
            This technology isn't in use yet!
            - if @tech.tech_tags.any?
              = link_to "Create the first #{@tech.name} project", new_project_path(project: { tech_tags_string: @tech.tech_tags.first.name }), class: 'btn btn-primary btn-sm'

- if can? :manage, @tech
  - @projects.each do |project|
    = content_for :js do
      :javascript
        text = "#{escape_javascript render(partial: 'respects/button_featured', locals: { project: project } )}";
        $(text).appendTo($('.project-#{project.id} .project-thumb .thumb-top-inner'));