%section#teaser
  .container
    .row
      .col-xs-10.col-xs-offset-1.text-center
        = image_tag 'hackster_logo_40_white.png'
        %h1 Where hardware hackers and makers showcase their projects
        -# = render 'invite_requests/form'
        = link_to 'Get started', new_user_registration_path, class: 'btn btn-primary btn-lg btn-block'

%section#pitch
  .container
    .row.header
      .col-xs-12.text-center
        %h2 Build awesome hardware
        %p.subtitle Our members are already trying to break the limits of hardware. Come join them!

    .row.pitch-line
      .col-xs-10.col-xs-offset-1
        .col-xs-6.img
          = image_tag 'home_visitor/icon2.png'
        .col-xs-6
          %h3 Your portfolio
          %p We know that building an online portfolio for makers is no easy task and can be time-consumming. We've made it easy for makers to showcase all the facets of their projects, from what it is and how it looks to what makes it work and how it can be replicated. Say as much or as little as you want, you're in control.

    .row.pitch-line
      .col-xs-10.col-xs-offset-1
        .col-xs-6
          %h3 Share and connect
          %p Even great the greatest minds need help to achieve the greatest goals. Share your work to inspire others and start snowball effects. Share your expertise and contribute to other hackers' projects. Find like-minded people and collaborate to build the next big thing!
        .col-xs-6.img
          = image_tag 'home_visitor/icon4.png'

    .row.pitch-line
      .col-xs-10.col-xs-offset-1
        .col-xs-6.img
          = image_tag 'home_visitor/icon3.png'
        .col-xs-6
          %h3 Open hardware
          %p Open source has help the software community progress tremendously. We believe it has the same power for hardware. Don't reinvent the wheel, focus on solving bigger and bigger problems by reusing existing technology and help society go forward faster. We support open hardware 100%!

    .row
      .col-xs-10.col-xs-offset-1
        = link_to 'Create your account', new_user_registration_path, class: 'btn btn-primary btn-lg btn-block'

%section#featured
  .container
    .row.header
      .col-xs-10.col-xs-offset-1.text-center
        %h2 A community of makers
        %p.subtitle Some very cool things are being worked on as we speak, here's a few:

    .row
      .col-xs-10.col-xs-offset-1
        .row.project-thumbs
          - @projects.each do |project|
            = render partial: 'projects/project_thumb', locals: { project: project.decorate }

    .row
      .col-xs-10.col-xs-offset-1.text-center
        = link_to 'Browse all projects'.html_safe, projects_path, class: 'btn btn-primary btn-lg btn-block'