var text, thumb, item;

<% @followed.each do |rel|
    entity = rel.followable
    next unless entity

    content = case entity.class.name
    when 'Platform', 'User'
      content_tag(:div, link_to(image_tag(entity.decorate.avatar(:medium)), entity, title: "You follow #{entity.name}", class: 'istooltip', data: { container: "body" }), class: "thumb-super-item #{dom_id(entity)}")
    when 'List'
    when 'HardwarePart', 'SoftwarePart', 'ToolPart'
      content_tag(:div, link_to(image_tag(entity.decorate.image(:part_thumb)), entity, title: "#{entity.name} is in your toolbox", class: 'istooltip', data: { container: 'body' }), class: "thumb-super-item #{dom_id(entity)}")
    end
%>
  if ($("#hide .<%= dom_id(entity) %>").length == 0) {
    text = '<%= content %>';
    $("#hide").append(text);
  }
<% end %>

$('#infinite-scrolling').append("<div class='row page visible' id='page_<%= @current_page %>'</div>")
<% @projects.each_with_index do |project, i| %>
  $('#page_<%= @current_page %>').append("<%= j(render partial: 'projects/project_thumb', locals: { project: project, ref: 'custom', ref_id: current_user.id, offset: i + ((@current_page - 1) * 12) }) %>");
<%
  if common = build_common_for_follow(project, @followed) and common.any?
    dom_ids = common.map{|e| "#{e[0].underscore}_#{e[1]}" }
    dom_ids.each do |dom_id|
%>
      thumb = $("#projects .project-<%= project.id %> .thumb-super");
      item = $(".thumb-super-item.<%= dom_id %>")[0].outerHTML;
      thumb.append(item);
<%
    end
  end
end
%>

<% if @next_page %>
  $('#loader').html('<div class="text-center"><%= will_paginate @projects %></div>');
<% else %>
  $(window).off('scroll', $loadMore);
  $('#loader').html("<p>Hurray! You've reached the end of the internet.</p>");
<% end %>

updateProjectThumbLinks();
lazyLoadImages();