= content_for :head do
  %meta(name='robots' content='noindex')
  = auto_discovery_link_tag :rss, projects_path(format: :rss), title: 'Trending projects - Hackster.io'
  = auto_discovery_link_tag :atom, projects_path(format: :atom), title: 'Trending projects - Hackster.io'

= content_for :js do
  :javascript
    $('#teaser').slick({
      accessibility: false,
      autoplay: true,
      autoplaySpeed: 5000,
      speed: 500,
      fade: true,
      dots: true
    });

= content_for :no_container do
  #about
    %section#teaser
      .slide.slide1
        .container
          .row
            .col-xs-10.col-xs-offset-1.text-center
              %h1
                Welcome to the
                %br
                hardware hacker community.
                %br
                %small= link_to 'Learn more', about_path
      .slide.slide2.slide-opaque
        .container
          .row
            .col-xs-10.col-xs-offset-1.text-center
              %h1
                Because the world looks so much better in color:
                %small
                  = succeed ',' do
                    %b= link_to 'LEDzep', '/heroes/ledzep'
                  luminous flying BLE-controlled helium balloons.
                  %br
                  %small
                    by
                    .user
                      = link_to image_tag('//gravatar.com/avatar/12246c082312edcde3c87c3677bdb813.png?d=identicon&s=30', class: 'img-circle'), '/lepanda'
                      %span.user-name
                        = link_to 'Thomas Rousseau', '/lepanda', class: 'hidden-link'
                    and
                    = link_to '3 others', '/heroes/ledzep#team-widget', class: 'hidden-link'
      .slide.slide3.slide-opaque
        .container
          .row
            .col-xs-10.col-xs-offset-1.text-center
              %h1
                Connect your world to the internets
                %br
                %small
                  with
                  = link_to 'Spark Core', '/spark'
      .slide.slide4.slide-opaque
        .container
          .row
            .col-xs-10.col-xs-offset-1.text-center
              %h1
                Your brain is the limit.
                %small
                  Decode brainwaves with the
                  %b= link_to 'NeuroSky MindFlex Comfort Upgrade', '/glowascii/neurosky-mindflex-teardown-comfort-upgrade'
                  %br
                  %small
                    by
                    .user
                      = link_to image_tag('//halckemy.s3.amazonaws.com/uploads/avatar/file/11885/mini_brainwavesss_cropped.jpeg', class: 'img-circle'), '/glowascii'
                      %span.user-name
                        = link_to 'Alex "Merlin" Glowaski', '/glowascii', class: 'hidden-link'

    -# %section
      .container.text-center
        .row
          .col-xs-12
            .alert.alert-bold.text-center
              Are you looking for help making your hardware product?
              = link_to 'Connect with us', build_path, class: 'alert-link'
              and learn from the best.

        .row.mg-20
          .col-xs-12.col-sm-6{ style: 'border-right:1px solid #ccc;padding-top:20px;padding-bottom:20px;'}
            %h2.top Professionals
            = link_to 'Start building a commercial product &rarr;'.html_safe, new_project_path(project: { open_source: false}, t: 'pro'), class: 'btn btn-primary btn-lg btn-block'
          .col-xs-12.col-sm-6{ style: 'border-left:1px solid #fff;padding-top:20px;padding-bottom:20px;'}
            %h2.top Hobbyists
            = link_to 'Start building open hardware &rarr;'.html_safe, new_project_path(t: 'hob'), class: 'btn btn-primary btn-lg btn-block'
        .row
          .col-xs-12
            or
            = link_to 'learn more', about_path

    %section
      .container
        .row
          .col-xs-12
            .transparent-well
              .header.no-content
                %h2
                  Featured tools
                  = link_to 'See all tools &rarr;'.html_safe, tools_path, class: 'btn-bottom'
            .row
              - @tools.each do |tech|
                .col-xs-6.col-sm-4.col-md-2
                  = link_to(image_tag(tech.avatar.file_url(:big), class: 'img-thumbnail'), tech_short_path(tech, ref: 'homefeat')) if tech.avatar
                  %h6.text-center= link_to tech.name, tech_short_path(tech)

    %section
      .container
        .row
          .col-xs-12
            .transparent-well
              .header.no-content
                %h2
                  Trending projects
                  = link_to 'See more trending projects &rarr;'.html_safe, projects_path(sort: 'trending'), class: 'btn-bottom'
            .row
              - @most_popular_projects.each do |project|
                = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, ref: 'homepop' }

    %section
      .container
        .row
          .col-xs-12
            .transparent-well
              .header.no-content
                %h2
                  Latest projects
                  = link_to 'See more recent projects &rarr;'.html_safe, projects_path(sort: 'recent'), class: 'btn-bottom'
            .row
              - @last_projects.each do |project|
                = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, ref: 'homelast' }

        .row
          .col-xs-12.text-center
            = link_to 'Browse all projects &rarr;'.html_safe, projects_path, class: 'btn btn-primary btn-lg btn-block'

    -# %section#featured
      .container
        .row.header
          .col-xs-10.col-xs-offset-1.text-center
            %h2 A community of makers
            %p.subtitle Some very cool things are being worked on as we speak, here's a few:

        .row
          .col-xs-10.col-xs-offset-1
            .row.project-thumbs
              - @most_popular_projects.sort_by{|p| p.id }.each do |project|
                = render partial: 'projects/project_thumb', locals: { project: project.decorate, ref: 'homevis' }

        .row
          .col-xs-10.col-xs-offset-1.text-center
            = link_to 'Browse all projects &rarr;'.html_safe, projects_path, class: 'btn btn-primary btn-lg btn-block'
