.page.wellified
  %h1.top Resources
  %p
    The following is a living collection of resources that can help hardware hackers on their journey to making stuff. Feel free to email us at
    = link_to 'team@hackster.io', 'mailto:team@hackster.io?subject=New+resource+for+hackers'
    with any suggestions.
  %h2 Design
  %ul
    %li
      %b= link_to '123D Circuits', 'http://123d.circuits.io', target: '_blank'
      One of two good solutions to design, share and collaborate around PCBs.
    %li
      %b= link_to 'Upverter', 'http://www.upverter.com', target: '_blank'
      One of two good solutions to design, share and collaborate around PCBs.
  %h2 Buy parts
  %ul
    %li
      %b= link_to 'Adafruit', 'http://www.adafruit.com', target: '_blank'
      Lots of kits and resources for beginners.
    %li
      %b= link_to 'Digikey', 'http://www.digikey.com', target: '_blank'
      Find any component you need at good prices.
    %li
      %b= link_to 'Octopart', 'http://octopart.com', target: '_blank'
      A search engine for electronic parts.
    %li
      %b= link_to 'Sparkfun', 'http://www.sparkfun.com', target: '_blank'
      Lots of kits and resources for beginners.
  %h2 Make
  %ul
    %li
      %b= link_to 'Fictiv', 'http://www.fictivmade.com', target: '_blank'
      Get any custom part 3D-printed at a good price.
    %li
      %b= link_to 'OSH Park', 'http://www.oshpark.com', target: '_blank'
      Custom PCBs made in the USA.
    %li
      %b= link_to 'Smart Prototyping', 'http://www.smart-prototyping.com', target: '_blank'
      Among other things,
      = link_to 'make custom PCBs', 'http://smart-prototyping.com/Prototyping-Services/Electronic-Prototyping/PCB-Prototyping.html', target: '_blank', rel: 'nofollow'
      for pretty cheap. Reasonable quality. Made in China.
  %h2 Sell
  %ul
    %li
      %b= link_to 'Grand St', 'http://www.grandst.com', target: '_blank'
      Sell your products and test demand.
    %li
      %b= link_to 'Tindie', 'http://www.tindie.com', target: '_blank'
      Sell your kits.

  %h2 Meetups (SF Bay Area)
  %ul
    %li= link_to 'Bay Area Arduino Workshops', 'http://www.meetup.com/BayArea-Arduino', target: '_blank'
    %li= link_to 'Bay Area Factory Tours', 'http://www.meetup.com/Bay-Area-Factory-Tours', target: '_blank'
    %li= link_to 'Berkeley-Oakland-East Bay Harware Startup Meetup', 'http://www.meetup.com/Berkeley-Hardware-Startup-Meetup', target: '_blank'
    %li= link_to 'Bluetooth Low Energy (BLE) Meetup', 'http://www.meetup.com/Bluetooth-Low-Energy-BLE-Meetup', target: '_blank'
    %li= link_to 'Codame Art+Tech', 'http://www.meetup.com/CODAME', target: '_blank'
    %li= link_to 'East Bay Hardware Startup', 'http://www.meetup.com/East-Bay-Hardware-Startup', target: '_blank'
    %li= link_to 'Hacker and Startup Collaboration', 'http://www.meetup.com/RockITCoLabs', target: '_blank'
    %li= link_to 'Just Build It - Bay Area Hardware Meetup', 'http://www.meetup.com/Just-Build-It-Bay-Area-Hardware-Meetup', target: '_blank'
    %li= link_to 'San Francisco Internet of Things Meetup', 'http://www.meetup.com/The-San-Francisco-Internet-of-Things-Meetup', target: '_blank'
    %li= link_to 'Silicon Valley Hardware Startup Meetup', 'http://www.meetup.com/Silicon-Valley-Hardware-Startup-Meetup', target: '_blank'
    %li= link_to 'SF Hardware Startup Meetup', 'http://www.meetup.com/HardwareStartupSF', target: '_blank'

  %h2 Hackerspaces &amp; Toolshops (SF Bay Area)
  %ul
    %li
      %b= link_to 'Ace Monster Toys', 'http://acemonstertoys.org', target: '_blank'
      Oakland, CA
    %li
      %b= link_to 'Noisebridge', 'https://www.noisebridge.net', target: '_blank'
      San Francisco, CA
    %li
      %b= link_to 'RockIT CoLabs', 'http://www.rockitcolabs.com', target: '_blank'
      San Francisco, CA
    %li
      %b= link_to 'Sudo Room', 'https://sudoroom.org', target: '_blank'
      Oakland, CA
    %li
      %b= link_to 'Techshop', 'http://techshop.ws', target: '_blank'
      San Carlos, CA / San Jose, CA / San Francisco, CA