.page.wellified
  %h1.top Resources
  %p
    The following is a living collection of resources that can help hardware hackers on their journey to making stuff. Feel free to email us at
    = link_to 'team@hackster.io', 'mailto:team@hackster.io?subject=New+resource+for+hackers'
    with any suggestions.
  %h2 Design
  %ul
    %li
      %b= link_to '123D Circuits', 'http://123d.circuits.io', target: '_blank'
      One of two good solutions to design, share and collaborate around PCBs.
    %li
      %b= link_to 'Upverter', 'http://www.upverter.com', target: '_blank'
      One of two good solutions to design, share and collaborate around PCBs.
  %h2 Buy parts
  %ul
    %li
      %b= link_to 'Adafruit', 'http://www.adafruit.com', target: '_blank'
      Lots of kits and resources for beginners.
    %li
      %b= link_to 'Digikey', 'http://www.digikey.com', target: '_blank'
      Find any component you need at good prices.
    %li
      %b= link_to 'Octopart', 'http://octopart.com', target: '_blank'
      A search engine for electronic parts.
    %li
      %b= link_to 'Sparkfun', 'http://www.sparkfun.com', target: '_blank'
      Lots of kits and resources for beginners.
  %h2 Make
  %ul
    %li
      %b= link_to 'Fictiv', 'http://www.fictivmade.com', target: '_blank'
      Get any custom part 3D-printed at a good price.
    %li
      %b= link_to 'OSH Park', 'http://www.oshpark.com', target: '_blank'
      Custom PCBs made in the USA.
    %li
      %b= link_to 'Smart Prototyping', 'http://www.smart-prototyping.com', target: '_blank'
      Among other things,
      = link_to 'make custom PCBs', 'http://smart-prototyping.com/Prototyping-Services/Electronic-Prototyping/PCB-Prototyping.html', target: '_blank', rel: 'nofollow'
      for pretty cheap. Reasonable quality. Made in China.
  %h2 Sell
  %ul
    %li
      %b= link_to 'Grand St', 'http://www.grandst.com', target: '_blank'
      Sell your products and test demand.
    %li
      %b= link_to 'Tindie', 'http://www.tindie.com', target: '_blank'
      Sell your kits.