= simple_nested_form_for @project, html: { class: 'form-horizontal remote accept-file-upload', data: { remote: true } }, wrapper: :bootstrap3_horizontal do |f|
  = f.error_notification

  .row
    .col-xs-12
      %h3
        Edit project
        .pull-right
          %ul.list-unstyled.list-inline
            %li= f.submit 'Update project', class: 'btn btn-primary btn-sm'
            %li= link_to 'Cancel', '', class: 'btn-cancel btn-link btn-sm', data: { show: '.project .display', hide: '.project .edit' }
      %hr

  .row
    .col-xs-6
      = f.input :name
      = f.input :one_liner, as: :text, input_html: { rows: 4 },
        hint: 'Maximum 140 characters'
      -# = f.input :website, label: 'Project website'
      = f.input :product_tags_string, as: :string, label: 'Tags', hint: 'Separate tags by commas. Used for finding your project more easily.'
      = f.input :license, collection: License.all, value_method: :url, hint: 'Is your project open source? If so specify under which license here.'

    .col-xs-6
      = render partial: 'shared/image_form', locals: { file_type: 'avatar', human_file_type: 'Logo', image_link: @project.logo.try(:file_url, :thumb), help_block: 'Optional, only if you have one. Should be squared, at least 200x200px for best results', attribute_type: 'logo', image_version: 'thumb', model: 'project' }

      = render partial: 'shared/image_form', locals: { file_type: 'cover_image', human_file_type: 'Cover image', image_link: @project.cover_image.try(:file_url, :cover_mini_thumb), help_block: 'This should be your nicest picture for this project. In 4:3 format, at least 600x450px for best results', attribute_type: 'cover_image', image_version: 'cover_mini_thumb', model: 'project' }

      = f.input :private, inline_label: 'Make this project private', label: false
      - if current_user.is? :admin
        = f.input :featured, inline_label: 'Feature this project', label: false

      .form-group
        .col-xs-8.col-xs-offset-4= link_to 'Delete project', project_path(@project), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "Are you sure? There's no coming back!" }

      -# .form-group
        .controls
          = render 'shared/wysihtml5_toolbar'
      -# = f.input :description, input_html: { id: 'wysihtml5-textarea', rows: 10 }, label: 'About'
      -# = f.input :start_date, order: [:year, :month],
        start_year: Date.today.year,
        end_year: Date.today.year - 50
      -# = f.input :end_date, order: [:year, :month],
        start_year: Date.today.year,
        end_year: Date.today.year - 50
      -# = f.input :current, as: :boolean, label: false, inline_label: 'Currently working on it'

      -# = f.input :tech_tags_string, as: :string, label: 'Technologies used', hint: 'Separate technologies by commas'


%hr