= simple_nested_form_for @project, html: { class: 'form-horizontal full-size' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    .control-group
      .controls
        = render 'wysihtml5_toolbar'
    = f.input :description, input_html: { id: 'wysihtml5-textarea', rows: 10 }
    = f.input :website
    = f.input :start_date, order: [:year, :month],
      start_year: Date.today.year,
      end_year: Date.today.year - 50
    = f.input :end_date, order: [:year, :month],
      start_year: Date.today.year,
      end_year: Date.today.year - 50
    = f.input :current, as: :boolean, label: false, inline_label: 'Currently working on it'
    = f.simple_fields_for :logo do |f_logo|
      - if @project.logo and @project.logo.file_url(:thumb)
        .control-group
          .controls
            = image_tag @project.logo.file_url(:thumb)
      = f_logo.input :file, as: :file, label: 'Logo'
      = f_logo.input :file_cache, as: :hidden
    = f.simple_fields_for :video do |f_video|
      = f_video.input :link, label: 'Video link'

  .form-fields
    - @project.images.each do |image|
      = f.simple_fields_for :images, image do |f_image|
        -  if image.file_url
          .control-group
            .controls
              = image_tag image.file_url(:thumb)
        - else
          = f_image.input :file, as: :file, label: false
          = f_image.input :file_cache, as: :hidden
        .control-group
          .controls
            = f_image.link_to_remove 'Remove this image', class: 'btn btn-mini btn-danger'
    = f.link_to_add 'Add an image', :images, class: 'btn btn-mini btn-success'

    = f.input :product_tags_string, as: :string, label: 'Tags', hint: 'Separate tags by commas'
    = f.input :tech_tags_string, as: :string, label: 'Technologies used', hint: 'Separate technologies by commas'

  .form-actions
    = f.button :submit

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });