= simple_nested_form_for @project, html: { class: 'form-horizontal remote accept-file-upload' }, wrapper: :bootstrap3_horizontal do |f|
  = f.error_notification

  .row
    .col-xs-12
      %h3
        Project settings
        .pull-right
          %ul.list-unstyled.list-inline
            - if current_user.is? :admin
              %li= link_to 'Edit as admin', edit_admin_project_path(@project), class: 'btn btn-warning btn-sm'
            %li= f.submit 'Save changes', class: 'btn btn-primary btn-sm'
            %li= link_to 'Cancel', @project, class: 'btn-link btn-sm'
      %hr

  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 General settings
        .panel-body
          .hidden= @project.id
          -# = f.input :name, label: 'Title'
          = f.input :new_slug, label: 'Project URL', wrapper: :addon do
            %span.input-group-addon hackster.io/#{@project.user_name_for_url.truncate(10)}/
            = f.input_field :new_slug

          -# = f.input :one_liner, as: :text, input_html: { rows: 4 },
            hint: 'Maximum 140 characters'
          -# = f.input :website, label: 'Project website'
          -# = f.input :tech_tags_string, as: :string, label: 'Technologies used', hint: 'Separate technologies by commas', placeholder: 'Eg: Arduino, ATmega, Attiny...'
          -# = f.input :product_tags_string, as: :string, label: 'Tags', hint: 'Separate tags by commas. Used for finding your project more easily.', placeholder: 'Eg: home automation, drone, display...'

          -# = f.input :license, collection: License.all, value_method: :url, hint: 'Is your project open source? If so specify under which license here.', selected: @project.license.try(:url), include_blank: true

          -# = f.input :buy_link, hint: 'Are you selling this project as a product or kit somewhere? Add the link here.'

          -# = render partial: 'shared/image_form', locals: { file_type: 'avatar', human_file_type: 'Logo', image_link: @project.logo.try(:file_url, :thumb), help_block: 'Optional, only if you have one. Should be squared, at least 200x200px for best results', attribute_type: 'logo', image_version: 'thumb', model: 'project' }

          -# = render partial: 'shared/image_form', locals: { file_type: 'cover_image', human_file_type: 'Cover image', image_link: @project.cover_image.try(:file_url, :cover_mini_thumb), help_block: 'This should be your nicest picture for this project. Give us some high def for best results!', attribute_type: 'cover_image', image_version: 'cover_mini_thumb', model: 'project' }

          = f.input :start_date, order: [:year, :month, :day], label: 'Date', hint: 'When did this project come to life?' do
            .row
              .col-xs-6
                = hidden_field_tag 'project[start_date(3i)]', '1'
                = select_month(@project.start_date, { prompt: '--Month--' }, { class: 'form-control', name: 'project[start_date(2i)]' })
              .col-xs-6
                = select_year(@project.start_date, { prompt: '--Year--', start_year: Date.today.year, end_year: Date.today.year - 15 }, { class: 'form-control', name: 'project[start_date(1i)]' })

          = render partial: 'projects/open_source_switch', locals: { f: f }
          = f.input :wip, inline_label: 'This is a work in progress', label: false

          = f.input :public, inline_label: "Make this project public #{content_tag(:i, '', class: 'fa fa-info-circle istooltip', title: 'You need to add a description and a cover image before you can make it public.')}".html_safe, label: false, disabled: (@project.private and !@project.can_be_public?), as: :boolean

          = f.input :private_logs, inline_label: 'Private build logs', hint: "If your project is published, you can choose to keep build logs private by checking this box.", label: false, as: :boolean
          = f.input :private_issues, inline_label: 'Private issues', hint: "If your project is published, you can choose to keep issues private by checking this box.", label: false, as: :boolean

      .panel.panel-default
        .panel-heading
          %h4
            Work attribution
            %small If you're using other people's work, give a shout for them here
        .panel-body
          - widget = @project.credits_widget
          = f.simple_fields_for :widgets, widget do |f_cred|
            - widget.new_credit_line if widget.credit_lines.empty?
            .form-fields
              = f_cred.simple_fields_for :credit_lines do |f_credit|
                = f_credit.input :name, label: 'Contributor name'
                = f_credit.input :work, label: 'What you credit them for'
                = f_credit.input :link, label: 'Link (optional)'
                .row
                  .col-xs-offset-4.col-xs-8= f_credit.link_to_remove 'Remove this contributor', class: 'btn btn-xs btn-danger'
              = f_cred.link_to_add 'Add another contributor', :credit_lines, class: 'btn btn-xs btn-success', style: 'margin:0 0 0 33.33333%;'

      - if current_user.communities.where(type: 'Community').any? or current_user.is? :admin or current_user.promotions.any? or current_user.events.any?
        .panel.panel-default
          .panel-heading
            %h4 Sharing
          .panel-body
            .form-group
              .col-xs-4
                %label.control-label Share with a group
              .col-xs-8
                - @project.permissions.new if @project.permissions.empty?
                = f.simple_fields_for :permissions, wrapper: false do |f_perm|
                  - if current_user.is? :admin
                    = f_perm.input :grantee_id, collection: Community.where(type: 'Community').order(:full_name), label: false, wrapper: false
                  - else
                    = f_perm.input :grantee_id, collection: current_user.communities.where(type: 'Community'), label: false, wrapper: false
                  = f_perm.input :grantee_type, as: :hidden, input_html: { value: 'Group' }, wrapper: false
                %p.help-block
                  All of the members of the groups you select will be able to access your project. They will not be able to edit it.

            - if current_user.promotions.any?
              = f.input :collection_id, collection: current_user.assignments.order(created_at: :desc), label: 'Assignment'
            - if current_user.events.any?
              = f.input :collection_id, collection: current_user.events.order(created_at: :desc), label: 'Event'

      - if current_user.is? :admin
        .panel.panel-default
          .panel-heading
            %h4 Admin stuff
          .panel-body
            = f.input :collection_id, collection: Assignment.order(created_at: :desc), label: 'Assignment'
            = f.input :collection_id, collection: Event.order(created_at: :desc), label: 'Event'

            = f.input :featured, inline_label: 'Feature this project', label: false
            = f.input :featured_date, label: 'Feature date'

      .panel.panel-default
        .panel-heading
          %h4 Danger zone
        .panel-body
          .form-group
            .col-xs-8.col-xs-offset-4= link_to 'Delete project', project_path(@project), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure? There's no coming back!" }

  .row
    .col-xs-12
      %hr
      .pull-right
        %ul.list-unstyled.list-inline
          - if current_user.is? :admin
            %li= link_to 'Edit as admin', edit_admin_project_path(@project), class: 'btn btn-warning btn-sm'
          %li= f.submit 'Save changes', class: 'btn btn-primary btn-sm'
          %li= link_to 'Cancel', @project, class: 'btn-link btn-sm'