= simple_nested_form_for @project, html: { class: 'form-horizontal remote accept-file-upload', data: { remote: true } }, wrapper: :bootstrap3_horizontal do |f|
  = f.error_notification

  .row
    .col-xs-12
      %h3
        Edit project
        .pull-right
          %ul.list-unstyled.list-inline
            - if current_user.is? :admin
              %li= link_to 'Edit as admin', edit_admin_project_path(@project), class: 'btn btn-warning btn-sm'
            %li= f.submit 'Update project', class: 'btn btn-primary btn-sm'
            %li= link_to 'Cancel', '', class: 'btn-cancel btn-link btn-sm', data: { show: '.project .display', hide: '.project .edit' }
      %hr

  .row
    .col-xs-6
      .hidden= @project.id
      = f.input :name, label: 'Title'
      = f.input :new_slug, label: 'URL', wrapper: :addon do
        %span.input-group-addon www.hackster.io/#{@project.user_name_for_url}/
        = f.input_field :new_slug

      = f.input :one_liner, as: :text, input_html: { rows: 4 },
        hint: 'Maximum 140 characters'
      -# = f.input :website, label: 'Project website'
      = f.input :start_date, order: [:year, :month, :day], label: 'Date', hint: 'When did this project come to life?' do
        .row
          .col-xs-6
            = hidden_field_tag 'project[start_date(3i)]', '1'
            = select_month(@project.start_date, { prompt: '--Month--' }, { class: 'form-control', name: 'project[start_date(2i)]' })
          .col-xs-6
            = select_year(@project.start_date, { prompt: '--Year--', start_year: Date.today.year, end_year: Date.today.year - 15 }, { class: 'form-control', name: 'project[start_date(1i)]' })
      = f.input :tech_tags_string, as: :string, label: 'Technologies used', hint: 'Separate technologies by commas', placeholder: 'Eg: Arduino, ATmega, Attiny...'
      = f.input :product_tags_string, as: :string, label: 'Tags', hint: 'Separate tags by commas. Used for finding your project more easily.', placeholder: 'Eg: home automation, drone, display...'

      = f.input :license, collection: License.all, value_method: :url, hint: 'Is your project open source? If so specify under which license here.', selected: @project.license.try(:url), include_blank: true

    .col-xs-6
      = render partial: 'shared/image_form', locals: { file_type: 'avatar', human_file_type: 'Logo', image_link: @project.logo.try(:file_url, :thumb), help_block: 'Optional, only if you have one. Should be squared, at least 200x200px for best results', attribute_type: 'logo', image_version: 'thumb', model: 'project' }

      = render partial: 'shared/image_form', locals: { file_type: 'cover_image', human_file_type: 'Cover image', image_link: @project.cover_image.try(:file_url, :cover_mini_thumb), help_block: 'This should be your nicest picture for this project. In 4:3 format, at least 600x450px for best results', attribute_type: 'cover_image', image_version: 'cover_mini_thumb', model: 'project' }

      = f.input :public, inline_label: "Make this project public #{content_tag(:i, '', class: 'fa fa-question-circle istooltip', title: 'You need to create at least one widget and add a cover image before you can make it public.')}".html_safe, label: false, disabled: !@project.can_be_public?, as: :boolean

      - if current_user.communities.any? or current_user.is? :admin
        .form-group
          .col-xs-4
            %label.control-label Share with a group
          .col-xs-8
            - @project.permissions.new if @project.permissions.empty?
            = f.simple_fields_for :permissions, wrapper: false do |f_perm|
              - if current_user.is? :admin
                = f_perm.input :grantee_id, collection: Community.where(type: 'Community').order(:full_name), label: false, wrapper: false
              - else
                = f_perm.input :grantee_id, collection: current_user.communities, label: false, wrapper: false
              = f_perm.input :grantee_type, as: :hidden, input_html: { value: 'Group' }, wrapper: false
            %p.help-block
              All of the members of the groups you select will be able to access your project. They will not be able to edit it.

      - if current_user.promotions.any? or current_user.is? :admin
        - if current_user.is? :admin
          = f.input :assignment_id, collection: Assignment.order(created_at: :desc)
        - else
          = f.input :assignment_id, collection: current_user.assignments.order(created_at: :desc)

      - if current_user.is? :admin
        = f.input :featured, inline_label: 'Feature this project', label: false
        = f.input :featured_date, label: 'Feature date'

      .form-group
        .col-xs-8.col-xs-offset-4= link_to 'Delete project', project_path(@project), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "Are you sure? There's no coming back!" }

      -# = f.input :current, as: :boolean, label: false, inline_label: 'Currently working on it'

%hr