= simple_nested_form_for @project, html: { class: 'form-horizontal remote', data: { remote: true } } do |f|
  = f.error_notification

  .row
    .col-xs-12
      %h3
        Edit project
        .pull-right
          = f.submit 'Update project', class: 'btn btn-primary btn-sm'
          = link_to 'Cancel', '', class: 'btn-cancel btn-link btn-sm', data: { show: '.project .display', hide: '.project .edit' }
      %hr

  .row
    .col-xs-6
      = f.input :name
      = f.input :one_liner, as: :text, input_html: { rows: 4 },
        hint: 'Maximum 140 characters'
      = f.input :product_tags_string, as: :string, label: 'Tags', hint: 'Separate tags by commas. Used for finding your project more easily.'

    .col-xs-6
      - if @project.logo and @project.logo.file_url(:thumb)
        .form-group
          .controls
            = image_tag @project.logo.file_url(:thumb)
      = f.simple_fields_for :logo do |f_logo|
        = f_logo.input :file, as: :file, label: 'Main image', hint: "Should be squared, at least 200x200px for best results"
        = f_logo.input :file_cache, as: :hidden
      = f.input :private, inline_label: 'Make this project private', label: false
      - if current_user.is? :admin
        = f.input :featured, inline_label: 'Feature this project', label: false

      -# .form-group
        .controls
          = render 'shared/wysihtml5_toolbar'
      -# = f.input :description, input_html: { id: 'wysihtml5-textarea', rows: 10 }, label: 'About'
      -# = f.input :website
      -# = f.input :start_date, order: [:year, :month],
        start_year: Date.today.year,
        end_year: Date.today.year - 50
      -# = f.input :end_date, order: [:year, :month],
        start_year: Date.today.year,
        end_year: Date.today.year - 50
      -# = f.input :current, as: :boolean, label: false, inline_label: 'Currently working on it'
      -# = f.simple_fields_for :video do |f_video|
        = f_video.input :link, label: 'Video link'

    -# .form-fields
      %label.control-label Images
      - @project.images.each do |image|
        = f.simple_fields_for :images, image do |f_image|
          -  if image.file_url
            .form-group
              .controls
                = image_tag image.file_url(:thumb)
          - else
            = f_image.input :file, as: :file, label: false
            = f_image.input :file_cache, as: :hidden
          .form-group
            .controls
              = f_image.link_to_remove 'Remove this image', class: 'btn btn-xs btn-danger'
      -# = f.link_to_add 'Add an image', :images, class: 'btn btn-xs btn-success'

      -# = f.input :tech_tags_string, as: :string, label: 'Technologies used', hint: 'Separate technologies by commas'

      -# = f.simple_fields_for :access_groups do |f_group|
        = f_group.input :name
        = f_group.simple_fields_for :access_group_members do |f_member|
          = f_member.input :user_id, collection: User.all
          .form-group
            .controls
              = f_member.link_to_remove 'Remove this member', class: 'btn btn-danger btn-xs'
        = f_group.link_to_add 'Add a group member', :access_group_members, class: 'btn btn-success btn-xs'
        .form-group
          .controls
            = f_group.link_to_remove 'Remove this group', class: 'btn btn-danger btn-xs'
      -# = f.link_to_add 'Add an access group', :access_groups, class: 'btn btn-success btn-xs'

= content_for :js do
  :javascript
    jQuery(function($) {
      $(document).on('nested:fieldAdded', function(event){
        var field = event.field;
        field.addClass('new');
      });
    });