%meta(property="og:title" content="#{@project.name}")
%meta(property="og:description" content="#{@project.one_liner}")
%meta(property="og:image" content="#{@project.cover_image(:cover_thumb)}")
%meta(property="og:url" content="#{project_url(@project)}")
%meta(property="og:site_name" content="Hackster.io")
%meta(property="twitter:card" content="summary")
%meta(property="twitter:site" content="@hacksterio")
%meta(property="twitter:domain" content="hackster.io")
%meta(property="twitter:title" content="#{@project.name}")
%meta(property="twitter:description" content="#{@project.one_liner}")
- if link = @project.users.first.twitter_link.presence
  %meta(property="twitter:creator" content="@#{link.match(/twitter.com\/(.+)/)[1]}")
%meta(property="twitter:image:src" content="#{@project.cover_image(:cover_thumb)}")
%link(rel="canonical" href="#{project_url(@project)}")