%div{ class: "project-#{project.id} col-xs-#{ defined?(col) ? col : 3 }" }
  .project-thumb
    .thumb
      .photo-thumb
        = link_to image_tag(project.cover_image(:cover_thumb), alt: project.name), project.website, target: '_blank'
        .thumb-top
          .thumb-top-inner
      .inner-thumb
        %h3= link_to project.name, project.website, target: '_blank'
        %h4
          - if project.guest_name.present?
            by
            = project.guest_name
          on
          = URI.parse(project.website).host.gsub(/^www\./, '')
        %p= truncate project.one_liner, length: 140