.span3.project-thumb
  .thumb
    .photo-thumb= link_to image_tag(@project.logo(:big), alt: @project.name), project_url(@project), target: '_blank'
    .inner-thumb
      %h3= link_to @project.name, project_url(@project), target: '_blank'
      %h4
        by
        = project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
      %p= truncate @project.one_liner, length: 140
      .thumb-bottom
        %hr
        - if @project.public?
          %span.counter.first
            %i.fa.fa-eye
            = @project.impressions_count
          %span.counter
            %i.fa.fa-thumbs-o-up
            = @project.respects_count
        - else
          Private
        %span.counter
          %i.fa.fa-comments
          = @project.comments_count
        %span.counter.logo
          = link_to "featured on #{image_tag('hackster_logo_20.png', alt: 'Hackster.io', title: SLOGAN)}".html_safe, root_url, target: '_blank'