#sidebar-container.project-pages-sidebar
  %section#sidebar-container-in.affixable
    #scroll-nav
      = link_to 'Project Details', "javascript:smoothScrollTo('#heading', -20)", class: "scroll-nav-item active"
      = link_to 'Overview', "javascript:smoothScrollTo('#heading', -20)", class: "scroll-nav-item"
      = link_to 'Parts Needed', "javascript:smoothScrollTo('#heading', -20)", class: "scroll-nav-item"
      = link_to 'Parts Needed', "javascript:smoothScrollTo('#heading', -20)", class: "scroll-nav-item"
      = link_to 'Parts Needed', "javascript:smoothScrollTo('#heading', -20)", class: "scroll-nav-item"
      = link_to 'Parts Needed', "javascript:smoothScrollTo('#heading', -20)", class: "scroll-nav-item"
      = link_to "#{content_tag(:span, @project.comments_count, class: 'comment-count')} Comments".html_safe, "javascript:smoothScrollTo('#widget-comments', -20)", class: "scroll-nav-item"
    #project-actions.clearfix
      - if @project.public?
        = render 'projects/share'
        = render 'projects/project_embed_popup'
        = render partial: 'respects/button', locals: { project: @project }
        = render partial: 'followers/button', locals: { followable: @project }