%div{ class: "project-#{project.id}" }
  .thumb-vertical{ class: "col-xs-#{ defined?(col) ? col : 3 }" }
    - ref = defined?(ref) ? ref : nil
    - ref_id = defined?(ref_id) ? ref_id : nil
    - offset = defined?(offset) ? offset : nil
    - if defined?(show_year)
      - if show_year
        %h4= project.start_date.try(:year) || 'Undated'
      - else
        .h4 &nbsp;
    .project-thumb
      .thumb
        .photo-thumb
          = link_to image_tag(project.cover_image(:cover_thumb), alt: project.name), project_path(project, ref: ref, ref_id: ref_id, offset: offset)
          .award-container
          .thumb-top
            .thumb-top-inner
        .inner-thumb
          %h3= link_to project.name, project_path(project, ref: ref, ref_id: ref_id, offset: offset)
          %h4
            by
            - if project.guest_name.present?
              = project.guest_name
            - else
              - users = project.users
              - if users.size < 4
                = project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
              - else
                - more = content_tag(:a, "more #{content_tag(:i, '', class: 'fa fa-question-circle')}".html_safe, class: 'help', data: { container: 'body', toggle: 'popover', placement: 'bottom', content: project.users.map { |u| link_to u.name, u }.to_sentence, html: 'true', trigger: 'hover', delay: '100' }, rel: 'popover')
                = (project.users[0..2].map{ |u| link_to u.name, u } + [more]).to_sentence.html_safe
          %p= truncate project.one_liner, length: 140
          .thumb-bottom
            %hr
            - if project.public?
              %span.counter.first.istooltip{ title: 'Views' }
                %i.fa.fa-eye
                = number_with_delimiter project.impressions_count
              %span.counter.istooltip{ title: 'Respects' }
                %i.fa.fa-thumbs-o-up
                = project.respects_count
            - else
              %span.counter
                %i.fa.fa-lock
                Private
            %span.counter.istooltip{ title: 'Comments', data: { container: 'body' } }
              %i.fa.fa-comments
              = project.comments_count
            - if project.wip?
              %span.counter.istooltip{ title: 'Work in progress', data: { container: 'body' } }
                %i.fa.fa-bolt

  .col-xs-12.thumb-horizontal
    .project-thumb-horizontal.project-thumb
      .thumb.media
        = link_to image_tag(project.cover_image(:cover_thumb), alt: project.name, class: 'media-object'), project_path(project, ref: ref, ref_id: ref_id, offset: offset), class: 'pull-left photo-thumb'
        .inner-thumb.media-body
          %h3
            = link_to project.name, project_path(project, ref: ref, ref_id: ref_id, offset: offset)
            %small
              by
              - if project.guest_name.present?
                = project.guest_name
              - else
                = project.active_users.map { |u| link_to u.name, u }.to_sentence.html_safe
          %p= truncate project.one_liner, length: 140
          .thumb-bottom
            %hr
            - if project.public?
              %span.counter.first.istooltip{ title: 'Views' }
                %i.fa.fa-eye
                = number_with_delimiter project.impressions_count
              %span.counter.istooltip{ title: 'Respects' }
                %i.fa.fa-thumbs-o-up
                = project.respects_count
            - else
              %span.counter
                %i.fa.fa-lock
                Private
            %span.counter.istooltip{ title: 'Comments' }
              %i.fa.fa-comments
              = project.comments_count
            - if project.wip?
              %span.counter.istooltip{ title: 'Work in progress', data: { container: 'body' } }
                %i.fa.fa-bolt