%div{ class: "col-xs-#{ defined?(col) ? col : 3 }" }
  - ref = defined?(ref) ? ref : nil
  - if defined?(show_year)
    - if show_year
      %h4= project.start_date.try(:year) || 'Undated'
    - else
      .h4 &nbsp;
  .project-thumb
    .thumb
      .photo-thumb= link_to image_tag(project.cover_image(:cover_thumb), alt: project.name), project_path(project, ref: ref)
      .inner-thumb
        %h3= link_to project.name, project_path(project, ref: ref)
        %h4
          by
          = project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
        %p= truncate project.one_liner, length: 140
        .thumb-bottom
          %hr
          - if project.public?
            %span.counter.first.istooltip{ title: 'Views' }
              %i.fa.fa-eye
              = project.impressions_count
            %span.counter.istooltip{ title: 'Respects' }
              %i.fa.fa-thumbs-o-up
              = project.respects_count
          - else
            %span.counter
              %i.fa.fa-lock
              Private
          %span.counter.istooltip{ title: 'Comments' }
            %i.fa.fa-comments
            = project.comments_count
          - if project.wip?
            %span.counter.istooltip{ title: 'Work in progress', data: { container: 'body' } }
              %i.fa.fa-bolt