.col-xs-12
  .project-thumb-horizontal.project-thumb
    .thumb.media
      = link_to image_tag(project.cover_image(:cover_thumb), alt: project.name, class: 'media-object'), project, class: 'pull-left photo-thumb'
      .inner-thumb.media-body
        %h3
          = link_to project.name, project
          %small
            by
            - if project.guest_name.present?
              = project.guest_name
            - else
              = project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
        %p= truncate project.one_liner, length: 140
        .thumb-bottom
          %hr
          - if project.public?
            %span.counter.first
              %i.fa.fa-eye
              = project.impressions_count
            %span.counter
              %i.fa.fa-thumbs-o-up
              = project.respects_count
          - else
            %span.counter
              %i.fa.fa-lock
              Private
          %span.counter
            %i.fa.fa-comments
            = project.comments_count