- if @project.private
  .row
    .col-xs-12
      .alert.alert-warning
        %i.fa.fa-lock
        This project is private so only you can see it.
        = link_to 'Make public', project_path(@project, project: { private: 0 }), method: :patch, class: 'btn btn-warning btn-sm'
- elsif user_signed_in? and current_user.is_team_member? @project
  .row
    .col-xs-12
      .alert.alert-info.alert-author-share
        %strong Time to shine!
        Share your project or
        = link_to 'submit it to HackADay', "mailto:tips@hackaday.com?subject=#{@project.name}&body=#{@project.one_liner}%0D%0AProject page: #{project_url(@project)}", class: 'alert-link'
        = link_to "&times;".html_safe, '#', data: { close: '.alert-author-share' }, class: 'btn-close btn-close-notif'
        = render 'projects/share_by_author'

.row
  .col-xs-4{ style: 'padding-right: 0;'}
    .teaser
      .text-holder
        = @project.logo_or_placeholder
        %h1
          = link_to @project.name, @project, class: 'hidden-link hidden-link-invert'
        - if @project.one_liner.present?
          = @project.one_liner
        - elsif can? :edit, @project and @project.public?
          No one liner yet.
          = link_to 'Add one?', edit_project_path(@project), data: { remote: true }
        %p.author.meta
          by
          = @project.users.map { |u| link_to u.name, u }.to_sentence.html_safe

        - if @project.product_tags.any?
          .tags.meta
            - @project.product_tags.pluck(:name).each do |tag|
              %span= link_to tag, "/tags/#{CGI::escape(tag)}", class: 'hidden-link'
        - elsif can? :edit, @project and @project.public?
          .tags.meta
            No tags yet.
            = link_to 'Add some?', edit_project_path(@project), data: { remote: true }

        - if @project.license
          .license.meta
            &copy;
            = link_to @project.license.abbr, @project.license.url, target: '_blank', class: 'hidden-link'

      .actions.text-center
        = render partial: 'widgets/comments_button', locals: { size: @project.comments_count, tooltip_orientation: 'top' }
        - if @project.public?
          = render 'projects/share'
          = render 'projects/project_embed_popup'
          = render partial: 'respects/button', locals: { project: @project }
        - if can? :edit, @project
          %span.dropdown
            %a.dropdown-toggle.action{ data: { toggle: 'dropdown' }, href: '#', title: 'Settings', rel: 'tooltip' }
              %i.fa.fa-cog
              %b.caret
            %ul.dropdown-menu
              -# = render partial: 'shared/locked_icon', locals: { record: @project, size: nil }
              %li= link_to 'Edit project', edit_project_path(@project), data: { remote: true }
              - if user_signed_in? and current_user.is? :admin
                %li= link_to 'Manage team', project_edit_team_path(@project)
              - if current_user.communities.any?
                %li= link_to 'Manage extra permissions', project_edit_permissions_path(@project)
              %li= link_to 'Add a widget', new_project_widget_path(@project)
              %li= link_to 'Reorder widgets', project_widgets_path(@project)


      -# %p.text-muted
        = l @project.start_date, format: :month
        \-
        = @project.end_date ? l(@project.end_date, format: :month) : 'Present'
      -# %p.text-muted= link_to @project.website, @project.website if @project.website

      -# - if current_user.try(:is_following_project?, @project)
        = link_to 'Following', followers_project_path(@project), method: :delete, class: 'btn-follow btn-inverse'
      - else
        = link_to 'Follow', followers_project_path(@project), method: :post, class: 'btn-follow'

  .col-xs-8{ style: 'padding-left: 0;'}
    = image_tag @project.cover_image, alt: @project.name, class: 'cover-image'

-#.row
  .col-xs-12
    .tabbable.tabs-left.navbar.navbar-default.navbar-tabs{ style: 'background: #fff;' }
      %ul.nav.navbar-nav
        %li.active= link_to 'Home', '#tab-home', data: { toggle: 'tab' }
        %li= link_to 'Design', '#tab-design', data: { toggle: 'tab' }
        %li= link_to 'Code', '#tab-code', data: { toggle: 'tab' }
        %li= link_to 'Comments', '#tab-comments', data: { toggle: 'tab' }
        - if can? :edit, @project
          %li.dropdown
            %a.dropdown-toggle{ data: { toggle: 'dropdown' }, href: '#' }
              Edit
              %b.caret
            %ul.dropdown-menu
              -# = render partial: 'shared/locked_icon', locals: { record: @project, size: nil }
              %li= link_to 'Settings', edit_project_path(@project), data: { remote: true }
              - if user_signed_in? and current_user.is? :admin
                %li= link_to 'Manage team', project_edit_team_path(@project)
              %li= link_to 'Add a widget', new_project_widget_path(@project)
              %li= link_to 'Reorder widgets', project_widgets_path(@project)