- active_member = (user_signed_in? and current_user.is_team_member? @project, false)

- if @project.collection_id.present?
  #project-group
    This project is part of
    - if @project.assignment.present?
      - if @project.assignment.promotion.avatar
        = image_tag @project.assignment.promotion.avatar.file_url(:mini), class: 'img-circle'
      = link_to @project.assignment.to_label, assignment_path(@project.assignment)
    - elsif @project.event.present?
      - if @project.event.avatar
        = image_tag @project.event.avatar.file_url(:mini), class: 'img-circle'
      = link_to @project.event.name, event_path(@project.event)
      - @project.awards.where(gradable_id: @project.collection_id, gradable_type: 'Group').each do |award|
        %span.project-award
          %i.fa.fa-trophy.istooltip{ title: award.grade, data: { container: 'body' } }
      -# if can? :request_access, @project.team
        - if user_signed_in? and member = current_user.is_team_member?(@project)
          - if member.request_pending?
            %span.label.label-default Request to join team pending
        - else
          = link_to 'Join team', group_members_path(@project.team), class: 'btn btn-xs btn-warning', data: { method: :post }, id: 'join-button'

- who = %w(you)
- who += ['team members'] if @project.users.size > 1
- who += ["members of #{@project.assignment.promotion.name}"] if @project.collection_id.present? and @project.assignment.present?
- if @project.private and can? :edit, @project
  .alert.alert-warning
    %i.fa.fa-lock
    This project is private so only #{who.to_sentence} can see it.
    - if @project.can_be_public?
      = link_to 'Publish publicly', project_path(@project, project: { private: 0 }), method: :patch, class: 'btn btn-warning btn-sm'
    - else
      = content_tag(:i, '', class: 'fa fa-question-circle istooltip', title: 'You need to create at least one widget and add a cover image before you can make it public.')
- elsif active_member
  .alert.alert-info.alert-author-share
    %strong Time to shine!
    Share your project or
    = link_to 'submit it to HackADay', "mailto:tips@hackaday.com?subject=#{@project.name}&body=#{@project.one_liner}%0D%0AProject page: #{project_url(@project)}", class: 'alert-link'
    = link_to "&times;".html_safe, '#', data: { close: '.alert-author-share' }, class: 'btn-close btn-close-notif'
    = render 'projects/share_by_author'

#top-project-section
  #project-top-image{style: "background-image: url('#{@project.cover_image}');"}
  #top-project-section-deets
    #project-header
      .wrapper700
        #project-header-in
          %h1
            - if @project.logo(:thumb, false)
              = image_tag @project.logo(:thumb), class: 'project-logo'
            - if @project.private?
              %i.fa.fa-lock.private-project-icon.istooltip{ title: 'Private project', data: { container: 'body' } }
            = link_to @project.name, @project, class: 'hidden-link'
          #project-information
            - cache [@project, 'teaser', can?(:edit, @project), can?(:debug, @project)], tag: (["project-#{@project.id}-teaser"] + @project.users.map{|u| "user-#{u.id}-thumb"}) do
              - if @project.one_liner.present?
                .one-liner= @project.one_liner
              - elsif can? :edit, @project
                .one-liner
                  No one liner yet.
                  = link_to 'Add one?', edit_project_path(@project), data: { remote: true }
          - if @project.product_tags.any?
            .tags.meta
              - @project.product_tags.pluck(:name).each do |tag|
                %span= link_to tag, "/tags/#{CGI::escape(tag)}", class: 'tag-link'
          - elsif can? :edit, @project
            .tags.meta
              No tags yet.
              = link_to 'Add some?', edit_project_path(@project), data: { remote: true }
          - if can? :edit, @project
            %a.btn.btn-black.edit-project-btn{ href: edit_project_path(@project) }
              %i.fa.fa-edit
              Edit project settings
            %a.btn.btn-black.edit-project-btn{ href: new_project_widget_path(@project) }
              %i.fa.fa-plus
              Add a widget
            %a.btn.btn-black.edit-project-btn{ href: project_widgets_path(@project) }
              %i.fa.fa-arrows
              Reorder widgets
    %span.fa.fa-chevron-down.trigger-main-project-scroll.js-scroll-main-project
    #project-team
      .team-widget.pull-left
        -# if can? :debug, @project and can? :edit, @project
          = link_to content_tag(:i, '', class: 'fa fa-pencil'), project_edit_team_path(@project), class: 'btn-edit no-float', rel: 'tooltip', title: 'Manage team', data: { container: 'body' }
        - if @project.guest_name.present?
          .user
            = @project.guest_name
        - else
          - users = @project.team.active_members.includes(:user)
          - u = users.first.user
          .user
            = link_to image_tag(u.decorate.avatar(:mini), class: ' img-circle' ), u, class: ''
            %span.user-name
              = link_to u.name, u, class: 'hidden-link'
              - if users.size > 1
                = link_to "and #{pluralize (users.size - 1), 'other'}", 'javascript:smoothScrollTo("#team-widget", -20);', class: 'hidden-link'

      - if @project.tech_tags.any?
        .tags.meta.pull-left
          with
          - tags = @project.tech_tags.pluck(:name).map do |tag|
            - if tech = Tech.includes(:tech_tags).where("LOWER(tags.name) = ?", tag.downcase).first
              - tag_link = tech_short_path(tech)
            - else
              - tag_link = "/tags/#{CGI::escape(tag)}"
            - link_to tag, tag_link, class: 'tag-link'
          = tags.to_sentence.html_safe

        .clearfix
    %a.fa.fa-question-circle.meta-data{ data: { container: 'body', toggle: 'popover', placement: 'left', content: render('projects/meta_data'), trigger: 'hover', html: 'true'}, rel: 'popover'}

-# .wrapper700.clearfix.hidden
  #project-secondary-info
    #left-project-deets
      .meta
        %strong
          Created on
          = l @project.created_at, format: :date
          -# if @project.created_at.to_date != @project.made_public_at.to_date
            %br
            %strong Published on
            = l @project.made_public_at, format: :date

      - if @project.guest_name.present?
        .meta
          %strong
            Posted by
            - poster = @project.team.active_members.includes(:user).first.user
            = link_to poster.name, poster

      - if @project.license
        .license.meta
          %strong
            Copyright
            &copy;
            = link_to @project.license.abbr, @project.license.url, target: '_blank', class: 'hidden-link'
    #right-project-deets
      - if @project.tech_tags.any?
        .tags.meta
          .meta-title-wrap
            .meta-title Technologies
          - @project.tech_tags.pluck(:name).each do |tag|
            - if tech = Tech.includes(:tech_tags).where("LOWER(tags.name) = ?", tag.downcase).first
              - tag_link = tech_short_path(tech)
            - else
              - tag_link = "/tags/#{CGI::escape(tag)}"
            %span= link_to tag, tag_link, class: 'tag-link'
      - elsif can? :edit, @project
        .tags.meta
          .meta-title-wrap
            .meta-title Technologies
          No technologies yet.
          = link_to 'Add some?', edit_project_path(@project), data: { remote: true }