- if @project.private
  .row
    .span12
      .alert This project is private so only you can see it. Change this by clicking the edit link below when you're ready to go public.

.row
  .span12.teaser
    .pull-left
      .avatar.main-avatar= image_tag @project.logo(:medium), alt: @project.name

    .pull-left.text-holder
      %h1
        = link_to @project.name, @project, class: 'hidden-link'
        %span.tags
          - if @project.product_tags.any?
            - @project.product_tags.pluck(:name).each do |tag|
              %span= link_to tag, "/search?query=#{CGI::escape(tag)}", class: 'hidden-link'
          - elsif can? :edit, @project and @project.public?
            No tags yet.
            = link_to 'Add some?', edit_project_path(@project), data: { remote: true }
      - if @project.one_liner.present?
        = @project.one_liner
      - elsif can? :edit, @project and @project.public?
        No one liner yet.
        = link_to 'Add one?', edit_project_path(@project), data: { remote: true }
      %p.author
        by
        = @project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
      #share
        = render partial: 'widgets/comments_button', locals: { size: @project.comments_count, tooltip_orientation: 'top' }
        - if @project.public?
          = render 'projects/share'
          = render 'projects/project_embed_popup'
          = render partial: 'respects/button', locals: { project: @project }
      -# %p.muted
        = l @project.start_date, format: :month
        \-
        = @project.end_date ? l(@project.end_date, format: :month) : 'Present'
      -# %p.muted= link_to @project.website, @project.website if @project.website

    - if can? :edit, @project
      .btn-edit
        -# = render partial: 'shared/locked_icon', locals: { record: @project, size: nil }
        = link_to 'Edit', edit_project_path(@project), data: { remote: true }
        = link_to 'Add a widget', new_project_widget_path(@project)
        = link_to 'Reorder widgets', project_widgets_path(@project)

    -# - if current_user.try(:is_following_project?, @project)
      = link_to 'Following', followers_project_path(@project), method: :delete, class: 'btn-follow btn-inverse'
    - else
      = link_to 'Follow', followers_project_path(@project), method: :post, class: 'btn-follow'