= content_for :head do
  %meta{ name: 'robots', content: 'noindex' }

.content.projects
  .row
    .col-xs-12
      %h1
        Explore #{@by} projects
        %small page #{params[:page] || 1}

        .btn-group.pull-right
          .btn-group
            %button.btn.btn-default.btn-sm.dropdown-toggle{ data: { toggle: 'dropdown' }}
              Sort by
              %span.caret
            %ul.dropdown-menu.pull-right
              %li{ class: "#{'active' if params[:sort] == 'updated'}" }= link_to 'Last updated', projects_path(sort: 'updated', by: params[:by])
              %li{ class: "#{'active' if params[:sort] == 'popular'}" }= link_to 'Most popular', projects_path(sort: 'popular', by: params[:by])
              %li{ class: "#{'active' if params[:sort] == 'recent'}" }= link_to 'Most recent', projects_path(sort: 'recent', by: params[:by])

          .btn-group
            %button.btn.btn-default.btn-sm.dropdown-toggle{ data: { toggle: 'dropdown' }}
              Filter by
              %span.caret
            %ul.dropdown-menu.pull-right
              %li{ class: "#{'active' if params[:by] == nil}" }= link_to 'All', projects_path(sort: params[:sort])
              %li{ class: "#{'active' if params[:by] == 'featured'}" }= link_to 'Featured', projects_path(by: 'featured', sort: params[:sort])

        - style = cookies['thumb-list-style'] || 'thumb-list-vertical'
        .btn-group.thumb-list-switch.pull-right{ style: 'margin-right: 10px;' }
          %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-vertical'}", data: { 'list-style' => 'vertical', container: 'body' }, title: 'Display as tiles' }
            %i.fa.fa-th-large
          %button.btn.btn-default.btn-sm.istooltip{ class: "#{'active' if style == 'thumb-list-horizontal'}", data: { 'list-style' => 'horizontal', container: 'body' }, title: 'Display as list' }
            %i.fa.fa-th-list

    .col-xs-12
      .row.thumb-list{ class: style }
        - @projects.each do |project|
          = render partial: 'projects/project_thumb_hybrid', locals: { project: project.decorate, ref: 'explore' }
      .row
        .col-xs-12.text-center= will_paginate @projects