.col-xs-4.col-xs-offset-4
  .wellified
    %h2.text-center New project

    = simple_nested_form_for @project, html: { class: 'accept-file-upload' } do |f|
      = f.error_notification

      = f.input :name, label: 'What is it called?'
      = f.input :one_liner, as: :text, input_html: { rows: 4 }, label: 'One-liner description, Twitter-style.'
      = f.input :product_tags_string, as: :hidden
      = f.input :tech_tags_string, as: :hidden

      .cover_image.file-drop.form-group
        - if @project.cover_image
          = hidden_field_tag :cover_image_id, @project.cover_image.id
        %label.control-label Cover image
        %div
          %span.cover_image.image-preview.preview
            - if @project.cover_image
              = image_tag @project.cover_image.file_url(:cover_mini_thumb)
          %a.btn.btn-default.btn-sm{ data: { target: '.file_upload.cover_image' } } Select picture

      = render partial: 'shared/image_form_bare', locals: { file_type: 'cover_image', attribute_type: 'cover_image', image_version: 'cover_mini_thumb', model: 'project' }

      = f.button :submit, 'Go!', class: 'btn-block btn btn-primary'

.col-xs-4.col-xs-offset-4
  %hr

.col-xs-4.col-xs-offset-4
  .wellified
    %p.text-center
      %strong Is there an existing web page for this project?
      Enter the URL below and we'll import it.

    = form_tag submit_project_imports_path, method: :post do
      .form-group
        = text_field_tag :url, params[:url], placeholder: 'Project log URL', class: 'form-control'
        = hidden_field_tag :tech_tags_string, params[:project].try(:[], :tech_tags_string)
        = hidden_field_tag :product_tags_string, params[:project].try(:[], :product_tags_string)
      = submit_tag 'Import project', class: 'btn btn-primary btn-block'