.row
  .span8
    .well
      .content
        .headline-image
          - if @project.video
            = render partial: 'videos/video', locals: { video: @project.video }
          - else
            - if @project.images.any?
              - @project.images.each_with_index do |image, i|
                = image_tag image.file_url(:headline), class: "image-#{i}", style: "#{'display:none;' unless i==0}"
            - else
              = image_tag 'http://placehold.it/580x326'
        - if @project.images.size > 1
          .image-thumbs
            - @project.images.each_with_index do |image, i|
              = image_tag image.file_url(:small_thumb), data: { target: "image-#{i}" }

    .well
      .header
        %h3 About
      .content
        = @project.description


  .span4
    .well.sidebar-nav
      .header
        %h3
          Team
          - if can? :update_team, @project
            .pull-right= link_to 'Edit team members', edit_team_members_project_path(@project), class: 'btn btn-info btn-mini'
      .content
        %ul{ style: 'list-style: none;margin:0;' }
          - @team_size = @project.team_members.size
          - @project.team_members.each do |team_member|
            %li{ style: 'position:relative;margin-bottom:5px;' }
              = render partial: 'users/user_popover', locals: { team_member: team_member, user: team_member.user.decorate }

    .well.sidebar-nav
      .header
        %h3 Followers
      .content
        - if @project.followers.any?
          %ul.user-list
            - @project.followers.each do |user|
              %li= render partial: 'users/user_thumb_mini', locals: { user: user.decorate }
        - else
          No one yet.

- @project.stages.order(:created_at).each do |stage|
  .row
    .span12
      %hr.spacious

  .row
    .span12
      .well
        .header
          %h3{ style: 'position:relative;' }
            = stage.name.humanize
            - if can? :update_stages, @project
              .pull-right= link_to 'Add a component', new_stage_widget_path(stage), class: 'btn btn-info btn-mini'
          .progress{ style: 'margin:0' }
            .bar.bar-success{ style: "width:#{stage.completion_rate}%" }
              .percentage{ style: 'padding:0 10px;position:absolute;' } #{stage.completion_rate}% completed

  .row
    - if stage.widgets.any?
      - stage.widgets.each do |widget|
        .span6
          .well
            .header
              %h4{ style: 'position:relative;' }
                = widget.name
                - if can? :update_widgets, @project
                  = link_to 'Edit', edit_stage_widget_path(stage, widget), class: 'btn-edit'
              .progress{ style: 'margin:5px 0' }
                .bar.bar-success{ style: "width:#{widget.completion_absolute}%" }
                  .percentage{ style: 'padding:0 10px;position:absolute;' } counts for #{widget.completion_share}%, #{widget.completion_rate}% completed
                .bar.bar-warning{ style: "width:#{widget.completion_share-widget.completion_absolute}%" }
            .content
              = render partial: "widgets/show/#{widget.identifier}", locals: { widget: widget }
    - else
      .span6
        .well
          .content
            No components yet.
            - if can? :update_widgets, @project
              = link_to 'Add one', new_stage_widget_path(stage), class: 'btn btn-info btn-mini'
