= content_for :head do
  %meta(property="og:title" content="#{@project.name}")
  %meta(property="og:description" content="#{@project.one_liner}")
  %meta(property="og:image" content="#{@project.cover_image(:cover_thumb)}")
  %meta(property="og:url" content="#{project_url(@project)}")
  %meta(property="og:site_name" content="Hackster.io")
  %meta(property="twitter:card" content="summary")
  %meta(property="twitter:site" content="@hacksterio")
  %meta(property="twitter:domain" content="hackster.io")
  %meta(property="twitter:title" content="#{@project.name}")
  %meta(property="twitter:description" content="#{@project.one_liner}")
  - if link = @project.users.first.twitter_link.presence
    %meta(property="twitter:creator" content="@#{link.match(/twitter.com\/(.+)/)[1]}")
  %meta(property="twitter:image:src" content="#{@project.cover_image(:cover_thumb)}")
  %link(rel="canonical" href="#{project_url(@project)}")

.tab-content.row
  #tab-home.tab-pane.active
    -# .row
      .col-xs-4
        .well.sidebar-nav
          .header
            %h3
              Team
              - if can? :update_team, @project
                .pull-right= link_to 'Edit team members', edit_team_members_project_path(@project), class: 'btn btn-info btn-xs'
          .content
            %ul{ style: 'list-style: none;margin:0;' }
              - @team_size = @project.team_members.size
              - @project.team_members.each do |team_member|
                %li{ style: 'position:relative;margin-bottom:5px;' }
                  = render partial: 'users/user_popover', locals: { team_member: team_member, user: team_member.user.decorate }

        .well.sidebar-nav
          .header
            %h3 Followers
          .content
            - if @project.followers.any?
              %ul.user-list
                - @project.followers.each do |user|
                  %li= render partial: 'users/user_thumb_mini', locals: { user: user.decorate }
            - else
              No one yet.

    - if @widgets.any?
      #column1.col-xs-6
        - @project.widgets_first_col.each do |widget|
          = render partial: 'widgets/widget', locals: { widget: widget }
      #column2.col-xs-6
        - @project.widgets_second_col.each do |widget|
          = render partial: 'widgets/widget', locals: { widget: widget }
        = render partial: 'widgets/comment_widget', locals: { comments: @project.comments, commentable: @project }
      #sidebar
    - else
      .col-xs-6.col-xs-offset-3
        .well
          .content
            - if can? :edit, @project
              Tell the world more about your #{@project.name}, show us the code, schematics, bill of materials, or something else awesome about your project.
              = link_to 'Add your first widget to get started!', new_project_widget_path(@project)
            - else
              Work in progress, check back later!

  #tab-design.tab-pane
    .col-xs-12
      Design

  #tab-code.tab-pane
    .col-xs-12
      Code

  #tab-comments.tab-pane
    .col-xs-9