.row
  .span8
    .well
      .content
        .headline-image
          - if @project.video
            = render partial: 'videos/video', locals: { video: @project.video }
          - else
            - @project.images.each_with_index do |image, i|
              = image_tag image.file_url(:headline), class: "image-#{i}", style: "#{'display:none;' unless i==0}"
        .image-thumbs
          - @project.images.each_with_index do |image, i|
            = image_tag image.file_url(:small_thumb), data: { target: "image-#{i}" }

    .well
      .header
        %h3 About
      .content
        = @project.description.html_safe

    - @project.stages.each do |stage|
      .well
        .header
          %h3{ style: 'position:relative;' }
            = stage.name.humanize
            %span.smaller.muted #{stage.completion_rate}% completed
            - if can? :edit, @project
              .pull-right= link_to 'Add a widget', new_stage_widget_path(stage), class: 'btn btn-info btn-mini'
        .content
          %ul{ style: 'list-style: none;margin:0;' }
            - if stage.widgets.any?
              - stage.widgets.each do |widget|
                %li{ style: 'margin-bottom:5px;' }
                  %h4{ style: 'position:relative;' }
                    = widget.name
                    %span.subtitle counts for #{widget.completion_share}%, #{widget.completion_rate}% completed
                    - if can? :edit, @project
                      = link_to 'Edit', edit_stage_widget_path(stage, widget), class: 'btn-edit'
                  = render partial: "widgets/show/#{widget.type.underscore}", locals: { widget: widget }
            - else
              %p
                No widgets yet.
                - if can? :edit, @project
                  = link_to 'Add one', new_stage_widget_path(stage), class: 'btn btn-info btn-mini'

    .well
      .header
        %h3
          Team
          - if can? :edit, @project
            .pull-right= link_to 'Add a new team member', new_project_team_member_path(@project), class: 'btn btn-info btn-mini'
      .content
        %ul{ style: 'list-style: none;margin:0;' }
          - @project.team_members.each do |team_member|
            %li{ style: 'position:relative;margin-bottom:5px;' }
              = render partial: 'users/user_popover', locals: { team_member: team_member, user: team_member.user.decorate }
              - if can? :edit, @project
                .pull-right= link_to 'Delete', project_team_member_path(@project, team_member), class: 'btn btn-edit btn-link', method: :delete


  .span4
    .well.sidebar-nav
      .header
        %h3 Followers
      .content
        - if @project.followers.any?
          %ul.user-list
            - @project.followers.each do |user|
              %li= render partial: 'users/user_thumb_mini', locals: { user: user.decorate }
        - else
          No one yet.