= content_for :head do
  = render 'meta_tags'

- if @widgets.any?
  #project-summary.collapsed.collapsible
    %a.more.toggle{ rel: 'tooltip', title: 'Show table of contents', data: { container: 'body', placement: 'right' } }
      %i.fa.fa-list-alt
    %a.less.toggle{ rel: 'tooltip', title: 'Hide table of contents', data: { container: 'body', placement: 'right' } }
      %i.fa.fa-arrow-left
    .inner-container
      .list-group
        - @widgets.each do |widget|
          %a.list-group-item{ href: "javascript:smoothScrollTo('#widget-#{widget.id}', -20)" }
            %i.fa{ class: icon_for_widget(widget) }
            = widget.name
        %a.list-group-item{ href: "javascript:smoothScrollTo('#widget-comments', -20)" }
          %i.fa.fa-comments
          Comments

.tab-content.row
  #tab-home.tab-pane.active
    -# .row
      .col-xs-4
        .well.sidebar-nav
          .header
            %h3
              Team
              - if can? :update_team, @project
                .pull-right= link_to 'Edit team members', edit_team_members_project_path(@project), class: 'btn btn-info btn-xs'
          .content
            %ul{ style: 'list-style: none;margin:0;' }
              - @team_size = @project.team_members.size
              - @project.team_members.each do |team_member|
                %li{ style: 'position:relative;margin-bottom:5px;' }
                  = render partial: 'users/user_popover', locals: { team_member: team_member, user: team_member.user.decorate }

        .well.sidebar-nav
          .header
            %h3 Followers
          .content
            - if @project.followers.any?
              %ul.user-list
                - @project.followers.each do |user|
                  %li= render partial: 'users/user_thumb_mini', locals: { user: user.decorate }
            - else
              No one yet.

    - if @widgets.any?
      #full-width
        .background.to-compact
        .container
          .row
            .inner-container.col-xs-12
      #column1.col-xs-6
        - @project.widgets_first_col.each do |widget|
          = render partial: 'widgets/widget', locals: { widget: widget }
      #column2.col-xs-6
        - @project.widgets_second_col.each do |widget|
          = render partial: 'widgets/widget', locals: { widget: widget }
        = render partial: 'widgets/comment_widget', locals: { comments: @project.comments, commentable: @project }
      #sidebar
    - else
      .col-xs-6.col-xs-offset-3
        .well
          .content
            - if can? :edit, @project
              Tell the world more about your #{@project.name}, show us the code, schematics, bill of materials, or something else awesome about your project.
              = link_to 'Add your first widget to get started!', new_project_widget_path(@project)
            - else
              Work in progress, check back later!

  #tab-design.tab-pane
    .col-xs-12
      Design

  #tab-code.tab-pane
    .col-xs-12
      Code

  #tab-comments.tab-pane
    .col-xs-9