-# .row
  .span4
    .well.sidebar-nav
      .header
        %h3
          Team
          - if can? :update_team, @project
            .pull-right= link_to 'Edit team members', edit_team_members_project_path(@project), class: 'btn btn-info btn-mini'
      .content
        %ul{ style: 'list-style: none;margin:0;' }
          - @team_size = @project.team_members.size
          - @project.team_members.each do |team_member|
            %li{ style: 'position:relative;margin-bottom:5px;' }
              = render partial: 'users/user_popover', locals: { team_member: team_member, user: team_member.user.decorate }

    .well.sidebar-nav
      .header
        %h3 Followers
      .content
        - if @project.followers.any?
          %ul.user-list
            - @project.followers.each do |user|
              %li= render partial: 'users/user_thumb_mini', locals: { user: user.decorate }
        - else
          No one yet.

.row
  - if @widgets.any?
    #column1.span6
      - @project.widgets_first_col.each do |widget|
        = render partial: 'widgets/widget', locals: { widget: widget }
    #column2.span6
      = render partial: 'widgets/comment_widget', locals: { comments: @project.comments, commentable: @project }
      - @project.widgets_second_col.each do |widget|
        = render partial: 'widgets/widget', locals: { widget: widget }
    #sidebar
  - else
    .span6.offset3
      .well
        .content
          - if can? :edit, @project
            = link_to 'Add a widget', new_project_widget_path(@project)
            to get started!
          - else
            Work in progress, check back later!
