-# .row
  .span8
    .well
      .content
        .headline-image
          - if @project.video
            = render partial: 'videos/video', locals: { video: @project.video }
          - else
            - if @project.images.any?
              - @project.images.each_with_index do |image, i|
                = image_tag image.file_url(:headline), class: "image-#{i}", style: "#{'display:none;' unless i==0}"
            - else
              = image_tag 'project_default_headline.png'
        - if @project.images.size > 1
          .image-thumbs
            - @project.images.each_with_index do |image, i|
              = image_tag image.file_url(:small_thumb), data: { target: "image-#{i}" }

    .well
      .header
        %h3 About
      .content
        = @project.description


  .span4
    .well.sidebar-nav
      .header
        %h3
          Team
          - if can? :update_team, @project
            .pull-right= link_to 'Edit team members', edit_team_members_project_path(@project), class: 'btn btn-info btn-mini'
      .content
        %ul{ style: 'list-style: none;margin:0;' }
          - @team_size = @project.team_members.size
          - @project.team_members.each do |team_member|
            %li{ style: 'position:relative;margin-bottom:5px;' }
              = render partial: 'users/user_popover', locals: { team_member: team_member, user: team_member.user.decorate }

    .well.sidebar-nav
      .header
        %h3 Followers
      .content
        - if @project.followers.any?
          %ul.user-list
            - @project.followers.each do |user|
              %li= render partial: 'users/user_thumb_mini', locals: { user: user.decorate }
        - else
          No one yet.

.row
  - if @project.widgets.any?
    - half = (@project.widgets.size / 2).ceil
    .span6
      - @project.widgets[0..(half-1)].each do |widget|
        = render partial: 'widgets/widget', locals: { widget: widget }
    - if @project.widgets.size > 1
      .span6
        - @project.widgets[half..@project.widgets.size].each do |widget|
          = render partial: 'widgets/widget', locals: { widget: widget }
  - else
    .span6.offset3
      .well
        .content
          - if can? :edit, @project
            = link_to 'Add a widget', new_project_widget_path(@project)
            to get started!
          - else
            Work in progress, check back later!
