= content_for :head do
  = render 'meta_tags'
/ Ben:  This needs updating.  If it's the user's first time editing this project, automatically put it in Edit mode.
/       Perhaps we should create default widgets for them and put it into Edit mode.
- if (!@widgets.any? && (can? :edit, @project))
  - editmode = true
- else
  - editmode = false
.project-show{data: {:editmode => "#{editmode}"}}
  .wrapper700
    .container-fluid
      - if @prev
        .project-nav.project-nav-prev.visible-md.visible-lg
          .project-nav-inner
            = image_tag @prev.decorate.cover_image(:cover_thumb), class: 'img-responsive'
            %i.fa.fa-chevron-left
            .project-nav-overlay.project-nav-overlay-bg
            .project-nav-overlay
              %h3.link-color= @prev.name
              %h4
                by
                %span.link-color= @prev.users.map { |u| u.name }.to_sentence
              %p= truncate @prev.one_liner, length: 140
            %a.project-nav-overlay.project-nav-overlay-top{ href: project_path(@prev, ref: params[:ref], ref_id: params[:ref_id], offset: params[:offset].to_i - 1) }

      - if @next
        .project-nav.project-nav-next.visible-md.visible-lg
          .project-nav-inner
            = image_tag @next.decorate.cover_image(:cover_thumb), class: 'img-responsive'
            %i.fa.fa-chevron-right
            .project-nav-overlay.project-nav-overlay-bg
            .project-nav-overlay
              %h3.link-color= @next.name
              %h4
                by
                %span.link-color= @next.users.map { |u| u.name }.to_sentence
              %p= truncate @next.one_liner, length: 140
            %a.project-nav-overlay.project-nav-overlay-top{ href: project_path(@next, ref: params[:ref], ref_id: params[:ref_id], offset: params[:offset].to_i + 1) }

      .tab-content.row
        #tab-home.tab-pane.fade.in.active
          / - if can? :edit, @project
          /   = link_to 'Add a widget', new_project_widget_path(@project)
          - if @widgets.any?
            - if can? :edit, @project
              = simple_nested_form_for @project, url: project_path(@project), html: { class: 'update-project-form' } do |f|
                = render 'projects/large_column', { f: f }
            - else
              = render 'projects/large_column', { f: f }



- cache [@project, 'other', @other_projects], tag: "project-#{@project.id}-other" do
  - if @other_projects_count > 0
    #more-projects
      .wrapper700
        .container-fluid
          .row
            .header
              %h4
                Other projects by
                = @project.users.map { |u| link_to u.name, u }.to_sentence.html_safe
            - if @other_projects_count > 6
              .row
                .col-xs-6
                  %h6.subtitle Most popular
                  .row
                    - @other_projects.each do |project|
                      .col-xs-4
                        = render partial: 'projects/project_mini_thumb', locals: { ref: 'more', project: project }

                .col-xs-6
                  %h6.subtitle Newest
                  .row
                    - @last_projects.each do |project|
                      .col-xs-4
                        = render partial: 'projects/project_mini_thumb', locals: { ref: 'more', project: project }

            - else
              .row
                - @other_projects.each do |project|
                  .col-xs-2
                    = render partial: 'projects/project_mini_thumb', locals: { ref: 'more', project: project }