<p>Hello there,</p>

<p>This is to let you know that you have been selected to receive one free <%= @context[:challenge].free_hardware_label %> based on "|idea_name|", the application you submitted to <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a>!</p>

<p>It will be shipped to you shortly at the mailing address you provided when you applied.</p>

<p>And don't forget, you can win the following when you enter the contest:</p>
<ul>
  <% @context[:challenge].prizes.each do |prize| %>
    <li><%= prize.name %> will receive: <% if prize.description.present? %><%= prize.description %><% elsif prize.cash_value.present? %><%= number_to_currency prize.cash_value, precision: 0 %><% end %><% if prize.quantity > 1 %> (<%= prize.quantity %> are available)<% end %>.</li>
  <% end %>
</ul>

<p>Congratulations, keep it up!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>