<p>Hello there,</p>

<p>This is to let you know that the idea you submitted to <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a> was selected as a winner!</p>

<p>We will send you a separate email to arrange shipping.</p>

<p>And don't forget, this was just the pre-contest. Here's what you can win in the next phase:</p>
<ul>
  <% @context[:challenge].prizes.each do |prize| %>
    <li><%= prize.name %> will receive: <% if prize.description.present? %><%= prize.description %><% elsif prize.cash_value.present? %><%= number_to_currency prize.cash_value, precision: 0 %><% end %><% if prize.quantity > 1 %> (<%= prize.quantity %> are available)<% end %>.</li>
  <% end %>
</ul>

<p>Congratulations, keep it up!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>