<p>Hello there,</p>

<p>This is to let you know that <a href="|project_link|">your entry</a> for <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a> has won a prize!</p>

<% prizes = @context[:prizes].map do |prize|
  "<strong>#{prize.name}</strong> (prize: #{prize.description})"
 end %>

<p>You have been awarded <%= prizes.to_sentence.html_safe %>.</p>

<% if @context[:entry].shipping_required_for_prizes? %>

  <p>To claim your <%= pluralize_without_count @context[:prizes].count, 'prize' %>, <strong>please fill out your mailing address</strong> at the following link: <a href="<%= u.edit_address_challenge_entry_url(@context[:challenge], @context[:entry]) %>"><%= u.edit_address_challenge_entry_url(@context[:challenge], @context[:entry]) %></a></p>

<% else %>

  <p>This is a virtual prize, and it will be emailed to you at this email address shortly.</p>

<% end %>

<p>Congratulations, keep it up!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>