<p>Hello there,</p>

<p>There are new projects built by hackers or with platforms you follow on <a href="http://www.hackster.io?ref=emailnotif">Hackster.io</a>:</p>

<% @context[:projects].each do |followables, projects| %>
  Because you follow
  <%= followables.map do |f|
    out = ''
    out += "<img src='#{f.avatar.try(:imgix_url, :tiny)}' style='width:20px;height:20px;vertical-align:middle;'> " if f.avatar
    out += "<strong><a href='#{url_for(f)}?ref=emailnotif'>#{f.name}</a></strong>"
    out
  end.to_sentence.html_safe %>:

  <% projects.each do |project| %>

    <% users = project.users %>
    <% user = project.users.first %>

    <p>
      <strong><a href="<%= project_url(project)%>?ref=emailnotif"><%= project.name %></a></strong><% if project.guest_name.present? %> by <%= project.guest_name %><% elsif team_name = project.team.full_name.presence %> by Team <%= team_name %><% elsif users.any? %> by <%= users.map{ |user| "<a href='#{user_url(user)}?ref=emailnotif'>#{user.name}</a>" }.to_sentence.html_safe %><% end %>: <%= project.one_liner %><% if project.guest_name.present? and user %> (posted by <a href="<%= user_url(user) %>?ref=emailnotif"><%= user.name %></a>)<% end %>
    </p>

  <% end %>
  <hr style="margin:20px 0;">

<% end %>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|?ref=emailnotif">Update your notification preferences</a>
</p>