<p>Hello there,</p>

<p>This is to confirm that you are now registered for <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a>.</p>

<% if @context[:challenge].custom_registration_email.present? %>
  <p><%= raw @context[:challenge].custom_registration_email %></p>
<% end %>

<p>Please take time to review <a href="<%= u.challenge_brief_url(@context[:challenge].slug, anchor: 'rules', show_rules: 1, utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">the competition rules</a> to learn more about the requirements.</p>

<p>You have until <%= l @context[:challenge].end_date.in_time_zone(PDT_TIME_ZONE) %> PT to submit your entry. Good luck!</p>

<% if @context[:challenge].activate_free_hardware? %>
  If you need hardware to enter the <%= @context[:challenge].self_label.downcase %>, we are giving away a limited amount of free <%= @context[:challenge].free_hardware_label %> <%= @context[:challenge].free_hardware_unit_label.pluralize %>. Grants come on a first-come, first-served basis, so please apply as early as possible. One <%= @context[:challenge].free_hardware_unit_label %> per <%= @context[:challenge].allow_teams? ? 'team' : 'person' %> maximum. <a href="<%= u.new_challenge_idea_url(@context[:challenge]) %>">Apply now</a>.
<% end %>

<p>Finally, here is the timeline:</p>
<ol>
  <% if @context[:challenge].activate_pre_registration %>
    <% if @context[:challenge].pre_registration_start_date %>
      <li><strong>Registrations open:</strong> <%= l @context[:challenge].pre_registration_start_date.in_time_zone(PDT_TIME_ZONE) %> PT</li>
    <% end %>
  <% end %>
  <% if @context[:challenge].start_date %>
    <li><strong>Project submissions open:</strong> <%= l @context[:challenge].start_date.in_time_zone(PDT_TIME_ZONE) %> PT</li>
  <% end %>
  <% if @context[:challenge].activate_free_hardware? and @context[:challenge].free_hardware_end_date %>
    <li><strong>Deadline to apply for free hardware:</strong> <%= l @context[:challenge].free_hardware_end_date.in_time_zone(PDT_TIME_ZONE) %> PT</li>
  <% end %>
  <% if @context[:challenge].end_date %>
    <li><strong>Project submissions close:</strong> <%= l @context[:challenge].end_date.in_time_zone(PDT_TIME_ZONE) %> PT</li>
  <% end %>
  <% if @context[:challenge].winners_announced_date %>
    <li><strong><%= @context[:challenge].winners_label %> announced on:</strong> <%= l @context[:challenge].winners_announced_date, format: :long_date %></li>
  <% end %>
</ol>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>