<p>Welcome!</p>

<p>We're so excited to have you onboard :)</p>

<p>By simply joining you've bumped to <a href="http://30.media.tumblr.com/tumblr_ln9521omMb1qeh1a7o1_r1_400.gif">the next level of hackerness</a>.</p>

<p>What now? Here are a few tips to help you make the best out of Hackster:</p>

<ul>
  <li><a href="<%= u.hacker_url(@context[:user].id) %>?ref=confemail">Complete your profile</a> so other makers know who you are</li>
  <li><a href="<%= u.new_project_url %>?ref=confemail">Start adding projects</a> to your portfolio</li>
  <li><a href="<%= u.projects_url %>?ref=confemail">Browse projects</a>, respect the ones you like and follow their authors</li>
  <li><a href="<%= u.platforms_url %>?ref=confemail">Discover and follow platforms</a> to be alerted when new projects are posted</li>
  <li><a href="<%= u.hacker_spaces_url %>?ref=confemail">Find local hacker spaces</a> and join the ones you're already part of</li>
  <li><a href="<%= u.talk_url %>?ref=confemail">Join the conversation</a> and share interesting things with the community</li>
</ul>

<p>Any questions? Just reply to this email and help will be on its way.</p>

<p>Cheers,<br>The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|">Update your notification preferences</a>
</p>