<p>Hello there,</p>

<p>We are sorry to inform you that your entry "|idea_name|" for the <%= @context[:challenge].pre_contest_label.downcase %> phase of <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a> did not qualify because it did not meet eligibility requirements. Please refer to <a href="<%= u.challenge_brief_url(@context[:challenge].slug, anchor: 'rules', show_rules: 1, utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">the challenge rules</a> for more information.</p>

<% if @context[:challenge].pre_contest_in_progress? %>
  <p>
    You are welcome to try again by withdrawing this entry and submitting another one. Submissions to the <%= @context[:challenge].pre_contest_label.downcase %> are open until <%= l @context[:challenge].pre_contest_end_date.in_time_zone(PDT_TIME_ZONE) %> PDT.
  </p>
<% end %>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>