= simple_form_for @new_user_session, url: new_user_session_path(redirect_to: params[:redirect_to]), html: { class: 'form-compact' } do |f|
  = f.input :email, required: false, autofocus: (defined?(autofocus) ? autofocus : true), placeholder: 'Email', label: false
  = f.input :password, label: false do
    = f.input :password, required: false, placeholder: 'Password', label: false, wrapper: false
  = f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false
  = f.button :submit, "Log into my account", class: 'btn-block btn btn-primary'
  = link_to 'Forgot your password?', new_user_password_path, class: 'forgot-pass'