.col-xs-4.col-xs-offset-4.wellified
  %h2{ style: 'text-align: center' } Invite your friends
  %p{ style: 'text-align: center' } Know other hardware hackers? Pass it on!
  %p{ style: 'text-align: center' }
    - if @invite_limit.nil?
      %em Lucky you, you can send as many invites as you want.
    - elsif @invite_limit == 0
      %em Oops, looks like you have no invitations left!
      = link_to 'Want more?', 'mailto:team@hackster.io?subject=Can%20I%20get%20more%20invites%20please%3F'
    - else
      %em You have #{pluralize(@invite_limit, 'invitation')} left.
  - if @invite_limit != 0
    = simple_form_for @friend_invite, url: invitation_path(resource_name), html: { class: 'full-size' } do |f|
      = f.error_notification
      = f.simple_fields_for :users do |f_user|
        = f_user.input :email, :label => false, :placeholder => 'Email'
      = f.submit "Spread happiness", class: 'btn btn-default btn-block'

.col-xs-3.pull-right
  %h4 How invites work
  %p Hackster.io is a community of hardware hackers and makers.
  %p We're invite-only because we want to ensure that everyone who joins will be able to contribute to the community by sharing their work and giving feedback to others.
  %p
    Every week we reward active members with invites to send to their friends.
    %b So how can you get new invites?
    Post quality projects that can benefit to others; help your fellow hackers by suggesting improvements to their designs or solving tough problems with them.