- model_class = User
.page-header
  %h1
    =t '.title', :default => model_class.model_name.human.pluralize
    %small= link_to t('.new', :default => t("helpers.links.new")), new_admin_user_path, :class => 'btn btn-primary btn-sm'

= render 'admin/shared/search_form_tag'
- (@fields.keys - %w(created_at)).each do |field|
  = render partial: 'admin/shared/search_form_text_field', locals: { field: field }
= render 'admin/shared/search_form_sort_and_submit'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:age)
      %th= model_class.human_attribute_name(:last_login)
      %th= model_class.human_attribute_name(:login_count)
      %th= model_class.human_attribute_name(:projects_count)
      %th= model_class.human_attribute_name(:invites_count)
      %th= model_class.human_attribute_name(:comments_count)
      %th= model_class.human_attribute_name(:invitation_status)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to user.name, user if user.name
        %td= time_ago_in_words user.created_at
        %td= time_ago_in_words user.last_sign_in_at if user.last_sign_in_at
        %td= user.sign_in_count
        %td= user.projects.size
        %td= user.invitations.size
        %td= user.comments.size
        %td
          - if user.invited_by
            %b By:
            = user.invited_by.email
            %br
          - if user.invitation_token.present?
            - if user.invitation_sent_at
              %b On:
              = l user.invitation_sent_at, format: :date
          = link_to 'link', accept_user_invitation_url(:invitation_token => user.invitation_token) if user.invitation_token
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_user_path(user.id), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_user_path(user.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

.pagination.col-xs-12.text-center
  = will_paginate @users