- model_class = InviteCode.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:limit)
      %th= model_class.human_attribute_name(:active)
      %th= model_class.human_attribute_name(:users)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @invite_codes.each do |invite_code|
      %tr
        %td= invite_code.id
        %td= invite_code.code
        %td= invite_code.limit
        %td= invite_code.active
        %td= invite_code.users.size
        %td=l invite_code.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_invite_code_path(invite_code), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_invite_code_path(invite_code), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_invite_code_path, :class => 'btn btn-primary'
