!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Hacker.io"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag

  %body
    #wrapper
      .navbar.navbar-static-top
        .navbar-inner
          .container{ style: 'position: relative;' }
            %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Hacker.io', root_path, class: 'brand'
            .container.nav-collapse
              %ul.nav
              .pull-left= render 'application/search_form'
              %ul.nav.pull-right
                - if user_signed_in?
                  .btn-group
                    %button.btn= content_tag(:i, '', class: 'icon-cog')
                    %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                      %span.caret
                    %ul.dropdown-menu.pull-right
                      %li= link_to current_user.name, current_user
                      - if current_user.projects.any?
                        %li.divider
                        - current_user.projects.each do |project|
                          %li= link_to project.name, project
                      %li= link_to 'Create a new project', new_project_path
                      %li.divider
                      %li= link_to 'Log out', destroy_user_session_path, method: :delete
                - else
                  %li= link_to 'Sign up', new_user_registration_path
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#' }
                      Log in
                      %strong.caret
                    .dropdown-menu{:style => "padding: 15px; padding-bottom: 0px;"}
                      = render 'devise/sessions/form'

            .alert-flash= bootstrap_flash

      #main
        - if content_for?(:no_container)
          = yield(:no_container)
        - else
          .container
            #content
              = yield

      #push

    %footer
      .container
        %p &copy; Hacker.io 2013

    -# = include_gon
    = javascript_include_tag "application"
    = content_for :js
