/
  Whatever your mind can conceive and can believe, it can achieve. ~Napoleon Hill

  Whatever we think about and thank about we bring about. ~John Demartini

  Whether you think you can or can’t either way you are right. ~Henry Ford

!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(property="fb:app_id" content="414718878625776")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= title
    %meta(name="description" content="#{meta_desc}")
    = content_for :head
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href="#{ asset_path 'favicon.ico' }" rel="shortcut icon" type="image/vnd.microsoft.icon">
    = javascript_include_tag "application"
    - unless current_user and current_user.is? :admin
      = render partial: 'shared/analytics', locals: { tracker: 'UA-11926897-15', domain: 'hackster.io', track_outbound: true }
    -# = render 'shared/mixpanel'

  %body
    #outer-wrapper
      - unless params[:blank_frame]
        - if show_hello_world?
          #hello-world.fade-in
            .container
              %button.close.btn-close{ data: { close: '#hello-world' } } &times;
              = SLOGAN
              = link_to 'Start building.', new_user_registration_path, onclick: "_gaq.push(['_trackEvent', 'Hello world bar', 'Sign up', '#{request.path}']);"
        - if @show_signup_popup
          = render 'shared/signup_popup'

        .navbar.navbar-default.navbar-static-top#navigation
          #nav-mobile-trigger.hide-on-desktop.fa.fa-bars
          .navbar-in{ style: 'position:relative;' }
            .navbar-header
              = link_to image_tag('hackster_logo_40_white.png'), root_path, class: 'navbar-brand navbar-btn'
            #nav-non-logo.show-on-desktop
              %ul#nav-actions
                %li.dropdown
                  %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
                    Projects
                    %span.caret
                  %ul#topnav.dropdown-menu
                    %li
                      .row
                        .col-xs-12.text-center= link_to 'Browse all projects', projects_path(ref: 'topnav'), class: 'btn btn-block btn-primary'
                        .col-xs-6{ style: 'border-right: 1px solid #ddd'}
                          %ul.nav.nav-pills.nav-stacked
                            %li
                              %h4 Tools
                            = render partial: 'shared/tools_list', locals: { ref: 'topnav' }
                        .col-xs-6
                          %ul.nav.nav-pills.nav-stacked
                            %li
                              %h4 Components
                            = render partial: 'shared/components_list', locals: { ref: 'topnav' }
                %li= link_to 'Tools', tools_path, class: 'nav-link'
                %li= link_to 'Manufacturing help', build_path, class: 'nav-link'
                %li
                  - link = user_signed_in? ? new_project_path : new_user_registration_path(redirect_to: new_project_path, reason: 'project')
                  %span= link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Add project".html_safe, link, class: 'nav-link nav-add-project'
              - if user_signed_in?
                %ul.navbar-nav.navbar-right
                  -# if current_user.has_notifications?
                    %li#notifications
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
                        - if current_user.has_notifications?
                          %span.istooltip{ title: 'You have new notifications', data: { placement: 'bottom', container: 'body' } }
                            %i.fa.fa-envelope
                            %i.fa.fa-exclamation.light-blue
                        - else
                          %i.fa.fa-envelope.istooltip{ title: 'No new notifications', data: { placement: 'bottom', container: 'body' } }
                      %ul.dropdown-menu
                        - if current_user.has_notifications?
                          - current_user.notifications.each do |notification|
                            %li= link_to notification[:message], notification[:link]
                        - else
                          %li
                            %a No notifications.

                  %li.btn-group.navbar-btn#user-navigation-links
                    = link_to image_tag(current_user.decorate.avatar(:mini), style: 'width:30px;'), current_user, class: 'btn',id: 'user-nav-face', style: 'padding:0;'
                    %button#user-dropdown-toggle.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                      %span.caret
                    %ul.dropdown-menu#nav-user-menu
                      %li= link_to 'My profile', current_user
                      - if current_user.communities.any?
                        %li.divider
                        - current_user.community_group_ties.each do |group_tie|
                          - community = group_tie.group
                          - name = community.name
                          - name += ' (invite pending)' if group_tie.invitation_pending?
                          %li= link_to name, community
                        - if current_user.projects.where.not(collection_id: nil).any?
                          %li= link_to 'My grades', grades_path
                      %li.divider
                      %li= link_to 'Account settings', edit_user_registration_path
                      %li= link_to 'Invite friends', new_user_invitation_path
                      %li.divider
                      %li= link_to 'Log out', destroy_user_session_path, method: :delete
                - if current_user.is? :admin
                  %ul.nav.navbar-nav.navbar-right
                    %li= link_to 'Admin', admin_analytics_path
              - else
                %ul#navbar-right.clearfix
                  %li
                    - ab_test 'signup_button_global', 'Sign up', 'Start building', 'Create an account', 'Claim my profile', 'Claim my hacker profile' do |link_text|
                      %span= link_to link_text, validate_step_path(experiment: 'signup_button_global'), class: 'btn btn-primary login-link', onclick: "_gaq.push(['_trackEvent', 'Header bar', 'Sign up', '#{request.path}']);", id: "signup-button"

                  %li.dropdown
                    %a.btn.btn-primary.login-link.dropdown-toggle{"data-toggle" => "dropdown", href: '#' }
                      Log in
                    .dropdown-menu{:style => "padding: 15px; width: 250px;"}
                      = render 'devise/sessions/form'
                      %hr
                      -# = link_to 'Connect with your social account', new_user_session_path(a: 'connect'), class: 'btn btn-black connect-social'
                      .social-icons.text-center
                        %p.text-muted
                          %small Or connect with your social account:
                        = link_to 'Facebook', user_omniauth_authorize_url(:facebook), class: 'zocial icon facebook'
                        = link_to 'Github', user_omniauth_authorize_path(:github), class: 'zocial icon github'
                        = link_to 'Google+', user_omniauth_authorize_path(:gplus), class: 'zocial icon googleplus'
                        = link_to 'Twitter', user_omniauth_authorize_path(:twitter), class: 'zocial icon twitter'
              #navbar-search
                = render 'shared/search_form'

      = bootstrap_flash
      #main
        - if content_for?(:no_container)
          = yield(:no_container)
          = yield(:in_main)
        - else
          .container-fluid
            #content.wrapper
              = yield

    - unless params[:blank_frame]
      %footer
        %ul.list-unstyled.list-inline.pull-left
          %li= link_to 'About', about_path
          %li= link_to 'Blog', '/blog'
          %li= link_to 'Resources', resources_path
          %li= link_to 'Hackers', hackers_path
          %li= link_to 'Feedback and support', 'javascript:showClassicWidget();'
          %li= link_to 'Jobs', 'mailto:jobs@hackster.io?subject=I want to work with you guys!'
          %li= link_to 'Terms', '/terms'
          %li= link_to 'Privacy', '/privacy'
          %li= link_to 'Newsletter', 'http://us7.campaign-archive2.com/home/?u=3fd72855783c7f1a97812d84e&id=6ff81e3e5b', target: '_blank'
          %li
        %ul.list-unstyled.list-inline.pull-right
          %li= link_to content_tag(:i, '', class: 'fa fa-twitter fa-lg').html_safe, 'http://twitter.com/hacksterio', alt: 'Hackster.io on Twitter', class: 'link-icon'
          %li= link_to content_tag(:i, '', class: 'fa fa-facebook fa-lg').html_safe, 'http://www.facebook.com/hacksterio', alt: 'Hackster.io on Facebook', class: 'link-icon'
          %li Hackster.io 2014
        .show-on-desktop= link_to image_tag('//cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt: 'Mobile Analytics'), 'https://mixpanel.com/f/partner', class: 'pull-right', style: 'margin-top:-10px;margin-right:15px;', target: '_blank'
    #mobile-nav-overlay.hide-on-desktop
      #mobile-nav-overlay-close.fa.fa-times
    #mobile-navigation.hide-on-desktop
      = link_to 'Projects', projects_path(ref: 'topnav'), class: 'mo-nav-link'
      = link_to 'Tools', tools_path, class: 'mo-nav-link'
      = link_to 'Manufacturing help', build_path, class: 'mo-nav-link'
      = link_to "#{content_tag(:i, '', class: 'fa fa-plus')} Add project".html_safe, link, class: 'mo-nav-link'
      - if user_signed_in?
        = link_to 'Profile', current_user, class: 'mo-nav-link'
        = link_to 'Account settings', edit_user_registration_path, class: 'mo-nav-link'
        = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'mo-nav-link'
        - if current_user.is? :admin
          = link_to 'Admin', admin_analytics_path, class: 'mo-nav-link'
      - else
        = link_to 'Sign up / Login', new_user_registration_path, class: 'mo-nav-link', onclick: "_gaq.push(['_trackEvent', 'Header bar', 'Sign up', '#{request.path}']);"

    = content_for :js
    - unless is_mobile? or params[:blank_frame]
      = render 'shared/feedback'
      -# if user_signed_in? and current_user.live_projects_count > 0
        = render 'shared/surveyio'