- @project = @project.decorate
= content_for :no_container do
  = render "projects/project_sidebar_nav"

  #content.project#content-with-sidebar
    .project-details{ class: "#{'with-top-container' if @show_part_of}" }
      - @mode ||= 'normal'
      .display= render "projects/teaser_#{@mode}"
      .edit.container{ style: 'display:none;' }
    = yield

= render template: 'layouts/application'