- @project = @project.decorate
= content_for :no_container do
  - if @show_sidebar
    = render "projects/project_sidebar_nav"

  .project{ id: "#{@show_sidebar ? 'content-with-sidebar' : 'content' }" }
    .project-details{ class: "#{'with-top-container' if @show_part_of}" }
      - @mode ||= 'normal'
      .display= render "projects/teaser_#{@mode}"
    - if @mode == 'normal'
      = yield
    - else
      .container= yield

= render template: 'layouts/application'