- @project = @project.decorate
= content_for :no_container do
  #heading.project
    .container
      .display= render 'projects/teaser'
      .edit{ style: 'display:none;' }

  -# #subnav
    .navbar.navbar-static-top
      .container
        %ul.nav
          = active_li_link_to 'Project home', @project
          -# = active_li_link_to 'Blog', project_blog_posts_path(@project), truncate: true
          = active_li_link_to 'Issues', project_issues_path(@project), truncate: true

  #content.project
    .container
      = yield

= render template: 'layouts/application'