= content_for :no_container do
  #heading
    .container
      .row
        .span12.teaser
          .pull-left.avatar.main-avatar
            - if @project.logo
              = image_tag @project.logo.file_url(:thumb), alt: @project.name
            - else
              = image_tag ''
          %h1= @project.name
          %p.muted
            = l @project.start_date, format: :month
            \-
            = @project.end_date ? l(@project.end_date, format: :month) : 'Present'
          %p.muted
            - (@project.product_tags.pluck(:name) + @project.tech_tags.pluck(:name)).each do |tag|
              = link_to tag, "/search?query=#{CGI::escape(tag)}"

          - if can? :edit, @project
            = link_to 'Edit', edit_project_path(@project), class: 'btn-edit'
          - if current_user.try(:is_following_project?, @project)
            = link_to 'Following', followers_project_path(@project), method: :delete, class: 'btn-follow btn-inverse'
          - else
            = link_to 'Follow', followers_project_path(@project), method: :post, class: 'btn-follow'

  #subnav
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %ul.nav
            = active_li_link_to 'Project home', @project
            = active_li_link_to 'Blog', project_blog_posts_path(@project), truncate: true
            = active_li_link_to 'Discussions', project_discussions_path(@project), truncate: true

  #content.project
    .container
      = yield

= render template: 'layouts/application'