- @project = @project.decorate
= content_for :no_container do
  #heading.project{ class: "#{'with-top-container' if @show_part_of}" }
    - @mode ||= 'normal'
    .display= render "projects/teaser_#{@mode}"
    .edit.container{ style: 'display:none;' }

  #content.project
    .container
      = yield

= render template: 'layouts/application'