- @project = @project.decorate
= content_for :no_container do
  #heading.project
    .container
      - @mode ||= 'normal'
      .display= render "projects/teaser_#{@mode}"
      .edit{ style: 'display:none;' }

  #content.project
    .container
      = yield

= render template: 'layouts/application'