!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Hackster.io, The Hacker Toolbox
    %meta{:content => "Hackster.io, The Hacker Toolbox", :name => "title"}/
    %meta{:content => "Hackster.io provides mechanical and electrical engineers with all the tools they need to successfuly take a product from concept to production.", :name => "description"}/
    = stylesheet_link_tag 'splash'
    %link{:href => asset_path('favicon.ico'), :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    = render partial: 'application/analytics', locals: { tracker: 'UA-11926897-15', domain: 'hackster.io' }
  %body
    #bg
      = image_tag 'bg1920px.jpg'
    #wrapper
      #middle-box
        %h1 Build products
        %p We're creating the toolbox that'll help you take your products from concept to production.
        = yield
    %footer
      %ul
        %li
          = link_to 'Contact', 'mailto:team@hackster.io'
        %li
          = link_to 'Sign in', new_user_session_url(subdomain: 'beta')